<div class="row">
  <div class="col-sm-12">
    <h3 class="text-muted">Patient Info</h3>

    <div class="row">
      <div class="col-sm-12">
        <h6>LIST OF PATIENT
          <button type="button" class="btn btn-sm btn-round btn-success pull-right"
            (click)="createNew(tmpInputPatientInfo)">Add new info</button>
        </h6>
        <span *ngIf="isLoading"><i class="fa fa-spinner fa-spin" style="font-size:14px"></i> Loading..</span>
        <div class="table-responsive" *ngIf="!isLoading">
          <table class="table table-striped table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th width="5%">#</th>
                <th width="10%">Ref no.</th>
                <th>Name</th>
                <th width="5%">Age</th>
                <th width="10%">IC No</th>
                <th width="10%">Mobile No</th>
                <th width="15%">Email</th>
                <th width="10%" class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let patient of dataPatients; let i = index">
                <td scope="row">{{i+1}}</td>
                <td>{{patient.refno}}</td>
                <td>{{patient.name}}</td>
                <td>{{patient.age}}</td>
                <td>{{patient.ic_no}}</td>
                <td>{{patient.mobile_no}}</td>
                <td>{{patient.email}}</td>
                <td>
                  <button class="btn btn-sm btn-round btn-success" style="margin-right:10px;"
                    (click)="edit(tmpInputPatientInfo,patient)">Edit</button>
                  <button class="btn btn-sm btn-round btn-success"
                    (click)="delete(patient.refno)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <span class="text-muted" *ngIf="dataPatients?.length==0">No record to display</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #tmpInputPatientInfo let-modal>
  <div class="modal-content">
    <div class="modal-header bg-success">
      <h5>{{mode}} PATIENT INFO</h5>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div [formGroup]="dataForm" *ngIf="dataForm">
        <div class="form-group">
          <label for="reference">Ref No.</label>
          <input type="text" class="form-control" placeholder="Enter reference no." id="reference"
            formControlName="refno">
          <div *ngIf="isSubmitted && dataForm.get('refno').invalid" class="field-validation-error small">
            <div class="text-danger">Ref No. is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Name of patient</label>
          <input type="text" class="form-control" placeholder="Enter name" id="name" formControlName="name">
          <div *ngIf="isSubmitted && dataForm.get('name').invalid" class="field-validation-error small">
            <div class="text-danger">Name is required</div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="age">Age of patient</label>
            <input type="number" class="form-control mr-sm-2 " placeholder="Enter age" id="age" formControlName="age">
            <div *ngIf="isSubmitted && dataForm.get('age').invalid" class="field-validation-error small">
              <div class="text-danger">Age is required</div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label for="ic_no">IC No</label>
            <input type="number" class="form-control mr-sm-2 " placeholder="Enter IC No" id="ic_no"
              formControlName="ic_no">
            <div *ngIf="isSubmitted && dataForm.get('ic_no').invalid" class="field-validation-error small">
              <div class="text-danger">IC No is required</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="mobile_no">Mobile No</label>
            <input type="number" class="form-control mr-sm-2 " placeholder="Enter Mobile No" id="mobile_no"
              formControlName="mobile_no">
            <div *ngIf="isSubmitted && dataForm.get('mobile_no').invalid" class="field-validation-error small">
              <div class="text-danger">Mobile No is required</div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label for="email">Email</label>
            <input type="text" class="form-control mr-sm-2 " placeholder="Enter email" id="email"
              formControlName="email">
            <div *ngIf="isSubmitted && dataForm.get('email').invalid" class="field-validation-error small">
              <div class="text-danger">Email is required</div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-sm btn-round btn-primary" (click)="saveForm()"><i
            class="fa fa-paper-plane-o"></i> Submit</button>
        <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()"> Close</button>
      </div>
    </div>
  </div>
</ng-template>