<div *ngIf="loading">
  <i class="spinner-border spinner-border-sm text-primary"></i> Loading company info...
</div>

<div *ngIf="dataRegistration.screening_plan.category_code=='CORPORATE'&&!loading">
  <h2 class="text-green font-weight-bold">
    Company Registration
    <button class="btn btn-lg text-primary pull-right" tooltip="Upload supporting documents" style="padding:3px !important"
    (click)="uploadCompanyDoc(tmpUploadDoc)"
    *ngIf="dataRegistration.company&&((dataRegistration.screening_plan.category_code=='CORPORATE' && auth.account.acc_type_code!='ADMIN' && user.user_account?.acc_type_code=='MAU' && dataRegistration.status=='PRE-ACCOUNT') || (auth.account.acc_type_code=='ADMIN'))"><i
      class="fa fa-cloud-upload"></i></button>

    <button class="btn btn-lg text-primary pull-right" tooltip="Update company information" style="padding:3px !important"
      (click)="updateCompanyInfo(tmpUpdateCompanyInfo)"
      *ngIf="(dataRegistration.screening_plan.category_code=='CORPORATE' && auth.account.acc_type_code!='ADMIN' && user.user_account?.acc_type_code=='MAU' && dataRegistration.status=='PRE-ACCOUNT') || (auth.account.acc_type_code=='ADMIN')"><i
        class="fa fa-pencil"></i></button>
  </h2>
  <div class="text-muted" *ngIf="!dataRegistration.company"><i class="fa fa-exclamation-circle"></i> <i>Company
      information is not updated</i></div>
  <div class="row" *ngIf="dataRegistration.company">
    <div class="col-sm-8">
      <div class="font-weight-bold">{{dataRegistration.company.name}}</div>
      <div>{{dataRegistration.company.co_reg_no}}</div>
      <div>{{dataRegistration.company.address}}</div>
      <div *ngIf="dataRegistration.company.town">{{dataRegistration.company.town}}
        <span *ngIf="dataRegistration.company.district">, {{dataRegistration.company.district}}</span>
      </div>
      <span *ngIf="dataRegistration.company.postcode"> {{dataRegistration.company.postcode}}</span>
      <div>{{dataRegistration.company.state}}</div>
      <br>
      <div *ngIf="dataRegistration.company.contact_no"><span class="small text-muted">Contact no:</span>
        {{dataRegistration.company.contact_no}}</div>
      <div *ngIf="dataRegistration.company.email"><span class="small text-muted">Email:</span>
        {{dataRegistration.company.email}}</div>
    </div>
    <div class="col-sm-4">
      <div class="font-weight-bold">Supporting documents:</div>
      <div *ngFor="let doc of dataRegistration.company.documents" class="small">
        <button class="btn btn-sm text-primary" [tooltip]="'View Print ' + doc.document_code.toUpperCase()"
          (click)="printDoc(doc.filename)"><i class="fa fa-print"></i></button>
        {{doc.ori_filename}}
      </div>
    </div>
  </div>
  <hr>
</div>

<ng-template #tmpUpdateCompanyInfo let-modal>
  <div class="modal-content">
    <div class="modal-header bg-medium-green">
      UPDATE COMPANY INFO
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body bg-light-green">
      <div [formGroup]="dataCompanyForm" *ngIf="dataCompanyForm">
        <div class="row">
          <div class="col-sm-6">
            <label class="small">Company Registration No</label>
            <input type="text" class="form-control" placeholder="Enter Company Reg. No" id="name"
              formControlName="co_reg_no">
            <div *ngIf="isSubmittedCo && dataCompanyForm.get('co_reg_no').invalid" class="field-validation-error small">
              <div class="text-danger">Company Registration No is required</div>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="small">Company Name</label>
            <input type="text" class="form-control" placeholder="Enter name" id="name" formControlName="name">
            <div *ngIf="isSubmittedCo && dataCompanyForm.get('name').invalid" class="field-validation-error small">
              <div class="text-danger">Company Name is required</div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="pt-3"></div>
            <label class="small">Address</label>
            <input type="text" class="form-control" placeholder="Enter address" id="address" formControlName="address">
            <div *ngIf="isSubmittedCo && dataCompanyForm.get('address').invalid" class="field-validation-error small">
              <div class="text-danger">Address Name is required</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="pt-3"></div>
            <label class="small">Town</label>
            <input type="text" class="form-control" placeholder="Enter town" id="town" formControlName="town">
            <div *ngIf="isSubmittedCo && dataCompanyForm.get('town').invalid" class="field-validation-error small">
              <div class="text-danger">Town is required</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="pt-3"></div>
            <label class="small">District</label>
            <input type="text" class="form-control" placeholder="Enter district" id="district"
              formControlName="district">
            <div *ngIf="isSubmittedCo && dataCompanyForm.get('district').invalid" class="field-validation-error small">
              <div class="text-danger">District is required</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="pt-3"></div>
            <label class="small">Postcode</label>
            <input type="text" class="form-control" placeholder="Enter postcode" id="state" formControlName="postcode">
            <div *ngIf="isSubmittedCo && dataCompanyForm.get('postcode').invalid" class="field-validation-error small">
              <div class="text-danger">Postcode is required</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="pt-3"></div>
            <label class="small">State</label>
            <!-- <input type="text" class="form-control" placeholder="Enter state" id="state" formControlName="state"> -->
            <select class="form-control" formControlName="state">
              <option [value]="null">Please choose</option>
              <option [value]="state.state_name" *ngFor="let state of states">{{state.state_name}}</option>
            </select>
            <div *ngIf="isSubmittedCo && dataCompanyForm.get('state').invalid" class="field-validation-error small">
              <div class="text-danger">State is required</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="pt-3"></div>
            <label class="small">Contact No</label>
            <input type="text" class="form-control" placeholder="Enter Contact No" id="contact_no"
              formControlName="contact_no">
            <div *ngIf="isSubmittedCo && dataCompanyForm.get('contact_no').invalid"
              class="field-validation-error small">
              <div class="text-danger">Contact No is required</div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="pt-3"></div>
            <label class="small">Email</label>
            <input type="text" class="form-control" placeholder="Enter email" id="email" formControlName="email">
            <div *ngIf="isSubmittedCo && dataCompanyForm.get('email').invalid" class="field-validation-error small">
              <div class="text-danger">Email is required</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer bg-light-green">
      <button class="btn btn-primary btn-round btn-sm" (click)="saveCompanyInfo()"
        style="margin-right: 5px;">Save</button>
      <button class="btn btn-secondary btn-round btn-sm" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>


<ng-template #tmpUploadDoc let-modal>
  <div class="modal-content">
    <div class="modal-header bg-medium-green">
      UPLOAD SUPPORTING DOCUMENT(S)
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body bg-light-green">
      <div class="row">
        <div class="col-sm-6">
          <label class="small">Company Name</label>
          <div class="font-weight-bold">{{dataRegistration.company.name}}</div>
        </div>
        <div class="col-sm-6">
          <label class="small">Company Reg No</label>
          <div class="font-weight-bold">{{dataRegistration.company.co_reg_no}}</div>
        </div>
      </div>

      <hr class="line-blue">
      <!-- <h4 class="font-weight-bold">Supporting document(s)</h4> -->
      <div class="small">
        Note: Please make sure the size of document file should not exceeds 3MB per file. Only JPG, JPEG, PNG, GIF & PDF
        files are allowed.
        <div class="pt-3"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <b>List of uploaded files:</b>
          <ul>
            <li *ngFor="let file of dataRegistration.company.documents">
              <button class="btn btn-sm text-primary" [tooltip]="'View Print ' + file.filename"
              (click)="printDoc(file.filename)"><i class="fa fa-print"></i></button>
              <button class="btn btn-sm text-danger" (click)="removeFile(file)" [tooltip]="'Remove ' + file.filename"><i class="fa fa-trash"></i></button>
              {{file.ori_filename}}
            </li>
            <li *ngIf="dataRegistration.company.documents.length==0">
              <i>No file uploaded</i>
            </li>
          </ul>
        </div>
        <div class="col-sm-12"><hr> </div>
        <div class="col-sm-12"> 
          <b>Upload new files:</b>
          <p-fileUpload #pfileUpload name="files[]" [customUpload]="true" (uploadHandler)="uploadNow($event,pfileUpload)"
            (onUpload)="onUpload($event)" multiple="multiple" [showCancelButton]="false" accept="image/*,.pdf"
            maxFileSize="3072000">
          </p-fileUpload>
        </div>
      </div>

      <div class="pull-right">
        <div class="pt-3"></div>
        <span *ngIf="uploading">
          <i class="spinner-border spinner-border-sm text-primary "></i> Uploading file...
        </span>
        <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()"
          style="margin-left: 5px;"> Close</button>

      </div>


    </div>
  </div>
</ng-template>