<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <img  src="assets/images/logo-myhc.png" width="271" height="100">
      </div>
    </div>

    <div class="pt-3"></div>

    <div class="row">
      <div class="col-sm-12">
        <div class="myhc-login-card card-body auth-body">
          <h3 class="text-center txt-primary">{{ 'login.title' | translate }}</h3>

          <div class="row" *ngIf="error">
            <div class="col-sm-12 m-b-10">
              <div class="small text-danger">{{error}}</div>
            </div>
            <div class="pt-3"></div>
          </div>

          <form [formGroup]="formLogin">

            <div class="Icon-inside">
              <input type="text" class="login-form-control" placeholder="Email" formControlName="email" (change)="resetErrMsg()">
              <i class="fa fa-user fa-2x"></i>
            </div>

            <div class="Icon-inside">
              <input type="password" class="login-form-control" placeholder="Password" formControlName="password" (change)="resetErrMsg()">
              <i class="fa fa-lock fa-2x"></i>
            </div>

            <div class="row">
              <div class="col-md-12 text-right">
                <button class="login-btn login-btn-success btn-md btn-block waves-effect text-center" (click)="login()">{{ 'login.button.title' | translate }}</button>
              </div>
            </div>

            <div class="pt-3"></div>

            <div class="row ">
              <div class="col-sm-5 col-xs-5">
                <div class="text-left pt-1">
                  <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">&nbsp;&nbsp;<span class="register">{{ 'login.title_remember' | translate }}</span></label>
                </div>
              </div>

              <div class="col-sm-7 col-xs-7">
                <div class="text-right">
                  <button class="btn" (click)="forgotPassword(tmpForgotPassword)"> <span class="register">{{ 'login.title_forgot' | translate }}?</span></button>
                  <button class="btn" (click)="forgotEmail(tmpForgotEmail)"> <span class="register">{{ 'login.title_email' | translate }}?</span></button>
                </div>
              </div>

            </div>
          </form>

        </div>

        <div class="row">
          <div class="col-sm-12">
            <span class="register pull-right" [routerLink]="['/register']">{{ 'login.title_register' | translate }} <i class="fa fa-arrow-right"></i></span>
          </div>
        </div>

        <div class="row" style="padding-top: 50px;">
          <div class="col-sm-12">
            <div [innerHTML]="footer"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<ng-template #tmpForgotPassword let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <div class="myhc-card-title">{{ 'forgot-password.title' | translate }}</div>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <form [formGroup]="formReset">
    <div class="modal-body">
      <div class="form-group">
        <label for="email">{{ 'forgot-password.title_email' | translate }}</label>
        <input type="text" class="form-control" placeholder="Enter email" id="email" formControlName="email">
      </div>

      <div class="form-group">
        <label for="ic_no">{{ 'forgot-password.title_nric' | translate }}</label>
        <input type="text" class="form-control" placeholder="Enter IC No." id="ic_no" formControlName="ic_no">
      </div>

      <div class="modal-footer">
        <button class="btn myhc-btn-danger-fill pull-right" (click)="modalRef.hide()">{{ 'forgot-password.button.title_cancel' | translate }}</button>
        <button class="btn myhc-btn-fill pull-right" (click)="reset()">{{ 'forgot-password.button.title_reset' | translate }}</button>
      </div>
    </div>
  </form>
  </div>
</ng-template>






<ng-template #tmpForgotEmail let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <div class="myhc-card-title">{{ 'forgot-password.email' | translate }}</div>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <form [formGroup]="formRetriveEmail">
    <div class="modal-body">
      <div class="form-group">
        <label for="email">{{ 'forgot-password.title_mobile' | translate }}</label>
        <!-- <span class="input-group-text">+60 <input type="text" class="form-control" placeholder="Enter mobile no." id="mobile" formControlName="mobile"></span> -->


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">+60</span>
          </div>
          <input type="text" formControlName="mobile_no" class="form-control" />
        </div>


      </div>



      <div class="modal-footer">
        <button class="btn myhc-btn-danger-fill pull-right" (click)="modalRef.hide()">{{ 'forgot-password.button.title_cancel' | translate }}</button>
        <button class="btn myhc-btn-fill pull-right" (click)="retrieveEmail()">{{ 'forgot-password.button.title_retrieve_email' | translate }}</button>
      </div>
    </div>
  </form>
  </div>
</ng-template>
