<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-danger">{{title}}</span> 
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body text-center">
         
          {{message}}
 
      </div>
    </div>
  </div>
</div>