<div class="row">
  <h1 class="font-weight-bold">
    RECORDS
  </h1>
</div>

<div class="pt-5"></div>

<div class="row">
  <div class="welcome-label">Hello <b>{{user.person.name.toUpperCase()}}</b></div>
</div>

<div class="pt-5"></div>

<div class="row">
  <div class="col-md-6">
    <span class="myhc-card-title"><b>HEALTH PANELS</b></span>
    <div class="myhc-card">
      <div class="row">
        <div class="col-md-12">
          <div id="chart" style="margin-left: auto; margin-right: auto;">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [plotOptions]="chartOptions.plotOptions"
              [labels]="chartOptions.labels"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <span class="myhc-card-title"><b>MEDICAL RECORDS</b></span>
    <div class="myhc-card">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thaed>
              <th>NO ID</th>
              <th>FILE NAME</th>
              <th>FILE DESCRIPTION</th>
              <th>FILE TYPE</th>
              <th>FILE SIZE</th>
              <th>ACTION</th>
            </thaed>
            <tbody>

            </tbody>
          </table>
          <br />
          <span class="pull-right"><a href="">See More ></a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <span class="myhc-card-title"><b>SCREENING TEST RESULT</b></span>
    <div class="myhc-card">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thaed>
              <th>NO ID</th>
              <th>SCREENING</th>
              <th>TIME & DATE</th>
              <th>VENUE</th>
              <th>STATUS</th>
            </thaed>
            <tbody>

            </tbody>
          </table>
          <br />
          <span class="pull-right"><a href="">See More ></a></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <span class="myhc-card-title"><b>HEALTH ASSESSMENTS</b></span>
    <div class="myhc-card">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thaed>
              <th>NO</th>
              <th>TEST</th>
              <th>FILE DESCRIPTION</th>
              <th>FILE TYPE</th>
              <th>FILE SIZE</th>
              <th>ACTION</th>
            </thaed>
            <tbody>

            </tbody>
          </table>
          <br />
          <span class="pull-right"><a href="">See More ></a></span>
        </div>
      </div>
    </div>
  </div>
</div>


