<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">MESSAGE</span>&nbsp;<span class="text-green">BOX</span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 bg-white">
    <table class="table table-sm" *ngIf="dataMessages">
      <thead>
        <th width="20%">From</th>
        <th>Title</th>
        <th width="20%">Type</th>
        <th width="10%">Date received</th>
        <th width="10%">Status</th>
      </thead>
      <tbody>
        <tr *ngFor="let message of dataMessages">
          <td>
            <button class="btn text-primary"
              (click)="showMessages(tmpOpenMessage,message)">({{message.from_username}}) {{message.from_name}}</button>
          </td>
          <td>
            {{message.subject}}
          </td>
          <td>
            <i class="fa"
              [ngClass]="{'fa-life-ring':message.type=='support','fa-envelope-o':message.type=='inbox'}"></i>
            {{message.type}}
          </td>
          <td>
            {{message.date_sent}}
          </td>
          <td>{{message.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #tmpOpenMessage let-modal>
  <div class="modal-content">
    <div class="modal-header">
      Subject : <b> {{selectedMessage.subject}}</b>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-body">
          <div>
            <span>From : <b>{{selectedMessage.from_name}}</b></span>
            <span class="pull-right">Date : {{selectedMessage.date_sent}}</span>
          </div>
          <i>{{selectedMessage.content}} </i>
          <hr>
          <div *ngFor="let rmessage of selectedMessage.replies; let last =last"> 
            <div>
              <span><i class="fa fa-share"></i> Reply from : <b>{{rmessage.from_name}}</b></span>
              <span class="pull-right">Date : {{rmessage.date_sent}}</span>
            </div>
            <i>{{rmessage.content}} </i>
            <hr *ngIf="!last">
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-12">
          Reply From : {{selectedMessage.to_name}}<br>
          Reply to: {{selectedMessage.from_name}}<br>
          <angular-editor [placeholder]="'Enter text here...'"></angular-editor>
          <button class="btn btn-sm btn-round btn-secondary pull-right" (click)="modalRef.hide()">Close</button>
          <button class="btn btn-sm btn-round btn-primary pull-right">Send</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>