<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">CONTACT</span>&nbsp;<span class="text-green">SUPPORT</span>
    </h1>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-body" [innerHTML]="content">
    </div>
  </div>
</div>
