<div class="row">
  <h1 class="font-weight-bold">
    {{ 'screening-plan.title' | translate | uppercase }}
  </h1>
</div>
<div class="pt-3"></div>

<div class="row">
  <button type="button" class="btn myhc-btn-fill pull-right" (click)="newScreeningPlan(tmpScreenPlan)"><i class="fa fa-plus"></i>{{ 'screening-plan.button.title_newScreening' | translate }}</button>
</div>
 <div class="pt-5"></div>

<div class="pt-5"></div>
<div class="pt-3"></div>



<div class="myhc-card" style="padding-top:10px; width:100%">
  <div class="card-body">

  <div class="col-sm-12 bg-white ">
    <!-- <button class="btn btn-sm btn-round btn-primary pull-right" tooltip="Add new"
      (click)="newScreeningPlan(tmpScreenPlan)" placement="bottom"><i class="fa fa-plus"></i> New Screening
      Package</button> -->
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead>
          <th>{{ 'screening-plan.title_packagePlan' | translate }}</th>
          <!-- <th>Price (MYR)</th> -->
          <th width="15%"></th>
          <th width="30%"></th>
        </thead>
        <!-- <pre>{{dataSPlan|json}}</pre> -->
        <tbody>
          <tr *ngFor="let plan of dataSPlan">
            <td>

              <button class="btn btn-sm text-primary pull-right" [tooltip]="'Delete ' + plan.package_code"
                (click)="deleteScreenPlan(plan)" placement="bottom"><i class="fa fa-trash"></i></button>
              <button class="btn btn-sm text-primary pull-right" [tooltip]="'Edit ' + plan.package_code"
                (click)="editScreenPlan(tmpScreenPlan, plan)" placement="bottom"><i class="fa fa-pencil"></i></button>
              <span class="badge badge-warning">{{plan.package_code}}</span>
              <span class="badge"
                [ngClass]="{'badge-success':plan.commercial=='YES', 'badge-danger':plan.commercial=='NO'}">{{plan.commercial=='YES'?'COMMERCIAL':'NON-COMMERCIAL (customized)'}}</span>
              <h2 class="font-weight-bold">{{plan.single_package}}</h2>
              <div [innerHTML]="plan.description" *ngIf="plan.description"></div>
              <br>
              <!-- <img [src]="plan.picture_path"> -->
              <img [src]="photoPath + plan.picture_path" (error)="setDefaultPic($event)"  width="100%">

              <div class="pt-3"></div>

              <div [innerHTML]="plan.note" *ngIf="plan.note"></div>

            </td>
            <!-- <td>
            {{plan.price}}
          </td> -->
            <td>
              <span>{{ 'screening-plan.title_patient' | translate }}</span>
              <div *ngIf="plan.package_patients.length==0" class="text-danger small">{{ 'screening-plan.title_noPatientType' | translate }}</div>
              <div *ngFor="let patient of plan.package_patients; let last = last">
                <b>{{patient.total_patient}} x {{patient.patient_type_code}}</b>

              </div>
              <div class="pt-3"></div>
              <div>{{ 'screening-plan.title_harge' | translate }}</div>
              <b>{{plan.price}}</b>
            </td>
            <td>
              <span>{{ 'screening-plan.title_addOnPurchase' | translate }}</span>
              <ul class="list-group">
                <li class="list-group-item">
                  <b>{{ 'screening-plan.title_planTestItem' | translate }}<button class="btn btn-sm text-primary" tooltip="Add"
                      (click)="newAddOnPackage(tmpAddOnPackage,plan)" placement="bottom"><i
                        class="fa fa-plus"></i></button></b>
                  <div *ngFor="let panel of plan.package_test_groups; let i=index; let last=last">
                    <span class="small" style="padding-left: 16px;"> {{i+1}}. ({{panel.test_group_code}})
                      {{panel.test_group.group_name}} </span><button class="btn btn-sm text-primary"
                      (click)='deleteAddOnPackage(panel)' tooltip="Delete" placement="bottom"><i
                        class="fa fa-trash"></i></button><br>
                    <!-- <span class="small" style="padding-left: 16px;"><i class="fa fa-check-circle-o"></i>
                    {{panel.total_test_conducted}} test(s) x
                    {{panel.test_location}}
                  </span> -->
                    <hr *ngIf="!last">
                  </div>
                  <div *ngIf="plan.package_test_groups?.length==0">
                    <i class="text-muted">{{ 'screening-plan.title_notAvailable' | translate }}</i>
                  </div>
                </li>
                <li class="list-group-item">
                  <b>{{ 'screening-plan.title_planService' | translate }}<button class="btn btn-sm text-primary"
                      (click)="newAddOnService(tmpAddOnService,plan)" tooltip="Add" placement="bottom"><i
                        class="fa fa-plus"></i></button></b>
                  <div *ngFor="let addOn of plan.package_add_ons; let i=index; let last=last">
                    <span class="small" style="padding-left: 16px;">{{i+1}}. ({{addOn.add_on.add_on_code}}) {{addOn.add_on.name}}</span> <button
                      class="btn btn-sm text-primary" tooltip="Delete" (click)="deleteAddOnService(addOn)"
                      placement="bottom"><i class="fa fa-trash"></i></button><br>
                    <!-- <span class="small" style="padding-left: 16px;"><i class="fa fa-check-circle-o"></i>
                    {{addOn.total_test_conducted}} test(s) x {{addOn.patient_type_code}} x
                    {{addOn.test_location_name}} ({{addOn.test_location_code}})</span> -->
                    <hr *ngIf="!last">
                  </div>
                  <div *ngIf="plan.package_add_ons?.length==0">
                    <i class="text-muted">{{ 'screening-plan.title_notAvailable' | translate }}</i>
                  </div>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>


<ng-template #tmpScreenPlan let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <div class="myhc-card-title">{{mode}} {{ 'screening-plan.title_screeningPlan' | translate | uppercase }}</div>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div [formGroup]="dataFormSPlan" *ngIf="dataFormSPlan">
        <div class="card-body">
          <h4><b>{{ 'screening-plan.title_screeningPlanInfo' | translate }}</b></h4>
          <div class="container">
            <div class="row">
              <div class="col-4">
                {{ 'screening-plan.form.title_code' | translate }}<br>
                <input type="text" class="form-control" placeholder="Enter code" *ngIf="mode=='NEW'" id="package_code"
                  formControlName="package_code">
                <b *ngIf="mode=='EDIT'"><span
                    class="badge badge-warning badge-md">{{dataFormSPlan.get('package_code').value}}</span></b>
              </div>
              <div class="col-8">
                {{ 'screening-plan.form.title_packageName' | translate }}
                <input type="text" class="form-control" placeholder="Enter Name" id="single_package"
                  formControlName="single_package">
                <div *ngIf="isSubmitted && dataFormSPlan.get('single_package').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">{{ 'screening-plan.error.error_packageName' | translate }}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                {{ 'screening-plan.form.title_packageDesc' | translate }}
                <p-editor formControlName="description" [style]="{'height':'100px'}"></p-editor>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4">
                {{ 'screening-plan.form.title_category' | translate }}
                <select class="form-control" formControlName="category_code" id="category_code">
                  <option [value]="null">{{ 'screening-plan.form.title_choose' | translate }}</option>
                  <option *ngFor="let cateCode of categoryCodeList" [value]="cateCode.category_code">
                    {{cateCode.category_code}}
                  </option>
                </select>
                <div *ngIf="isSubmitted && dataFormSPlan.get('category_code').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">{{ 'screening-plan.error.error_code' | translate }}</div>
                </div>
              </div>
              <div class="col-4">
                {{ 'screening-plan.title_harge' | translate }}
                <input type="text" class="form-control mr-sm-2" placeholder="Enter Price" id="price"
                  formControlName="price">
                <div *ngIf="isSubmitted && dataFormSPlan.get('price').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ 'screening-plan.error.error_price' | translate }}</div>
                </div>
              </div>
              <div class="col-4">
                {{ 'screening-plan.form.title_commercial' | translate }}
                <!-- <input type="text" class="form-control mr-sm-2" placeholder="Enter Price" id="commercial"
                  formControlName="commercial"> -->
                <select formControlName="commercial" class="form-control">
                  <option value="YES">{{ 'screening-plan.form.title_openAll' | translate }}</option>
                  <option value="NO">{{ 'screening-plan.form.title_nonCommercial' | translate }}</option>
                </select>
                <div *ngIf="isSubmitted && dataFormSPlan.get('commercial').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ 'screening-plan.error.error_commercial' | translate }}</div>
                </div>
              </div>
              <div class="col-12">
                <br>
                {{ 'screening-plan.form.title_note' | translate }}
                <p-editor formControlName="note" [style]="{'height':'100px'}"></p-editor>
                <!-- <input type="text" class="form-control mr-sm-2" placeholder="Enter Note"
                  id="note" formControlName="note"> -->
                <!-- <div *ngIf="isSubmitted && dataFormSPlan.get('license_validity_year').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">License validity is required</div>
                </div> -->
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-12">
                {{ 'screening-plan.form.title_testIncluded' | translate }}
                <textarea type="text" class="form-control" placeholder="" rows="5"
                  formControlName="test_included"></textarea>
                <div *ngIf="isSubmitted && dataFormSPlan.get('test_included').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">{{ 'screening-plan.error.error_testIncluded' | translate }}</div>
                </div>
              </div>
            </div>
            <br>
            <!-- <div class="row">
              <div class="col-12">
                Note
                <textarea type="text" class="form-control" placeholder="Enter note" rows="5"
                  formControlName="note"></textarea>
              </div>
            </div> -->
            <br>
            <div class="row">
              <div class="col-12" *ngIf="this.mode =='EDIT'">
                {{ 'screening-plan.form.title_path' | translate }}: <span class="font-weight-bold">
                  {{dataFormSPlan.get('picture_path').value?dataFormSPlan.get('picture_path').value:'Not available'}}
                </span>
                <!-- <input type="text" class="form-control mr-sm-2" placeholder="Enter path" id="picture_path"
                  formControlName="picture_path"> -->
                  <br>

                    <p-fileUpload [files]="tmpPhotoFile" #pPhoto mode="basic" name="photo[]" [customUpload]="true" (uploadHandler)="uploadPhotoNow($event,pPhoto)" accept="image/*" maxFileSize="1000000"   [auto]="true" chooseLabel="Browse"></p-fileUpload>

                <div *ngIf="isSubmitted && dataFormSPlan.get('picture_path').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">{{ 'screening-plan.error.error_path' | translate }}</div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <div class="pull-right">
                  <button type="button" class="btn myhc-btn-fill" (click)="saveScreenPlan()">{{ 'screening-plan.button.title_saveScreening' | translate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <!-- ONLY APPEAR WHEN EDIT -->
        <div *ngIf="mode=='EDIT'">
          <div class="container">
            <div class="row">
              <!-- <div class="card-deck"> -->
              <div class="card col-md-12">
                <div class="card-body">
                  <h5 class="card-title">{{ 'screening-plan.title_patientPackage' | translate | uppercase }} <button class="btn btn-sm btn-round btn-primary"
                      (click)="newPackagePatient(dataFormSPlan.get('package_code').value)"><i class="fa fa-plus"></i>{{ 'screening-plan.title_newPatientPackage' | translate }} </button></h5>
                  <div *ngIf="selectedPackagePlan?.package_patients.length==0">
                    {{ 'screening-plan.form.title_noRecord' | translate }}
                  </div><br><br>
                  <table class="table table-sm table-bordered" *ngIf="selectedPackagePlan?.package_patients.length>0">
                    <tr>
                      <td width="30%">{{ 'screening-plan.form.title_patientType' | translate }}</td>
                      <td>{{ 'screening-plan.form.title_totalPatient' | translate }}</td>
                      <!-- <td>Document(s) required</td> -->
                      <td>{{ 'screening-plan.form.title_action' | translate }}</td>
                    </tr>
                    <tr *ngFor="let patient of selectedPackagePlan.package_patients">
                      <td>{{patient.patient_type_code}}</td>
                      <td>{{patient.total_patient}}</td>
                      <!-- <td>
                        <div [innerHTML]="patient.doc_required"></div>
                      </td> -->
                      <td>
                        <button class="btn btn-sm text-primary" placement="bottom"
                          (click)="editPackagePatient(patient)"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-sm text-primary" placement="bottom"
                          (click)="deletePackagePatient(patient)">
                          <i class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="card col-md-12" *ngIf="(modePatient=='EDIT'||modePatient=='NEW') && dataFormPP"
                [formGroup]="dataFormPP">
                <div class="card-body">
                  <h5 class="card-title">{{modePatient}} {{ 'screening-plan.form.title_patientPackage' | translate | uppercase }}</h5><br><br>
                  <table class="table table-sm table-bordered">
                    <tr>
                      <td >{{ 'screening-plan.form.title_patientType' | translate }}</td>
                      <td width="30%">T{{ 'screening-plan.form.title_totalPatient' | translate }}</td>
                      <!-- <td>Document(s) required</td> -->
                      <td>{{ 'screening-plan.form.title_action' | translate }}</td>
                    </tr>
                    <tr>
                      <td>
                        <select class="form-control" formControlName="patient_type_code" id="patient_type_code">
                          <option [value]="null">{{ 'screening-plan.form.title_choose' | translate }}</option>
                          <option *ngFor="let lookupPT of patientTypes" [value]="lookupPT.patient_type_code">
                            {{lookupPT.patient_type_code}}
                          </option>
                        </select>
                      </td>
                      <td><input type="number" class="form-control" placeholder="" id="total_patient"
                          formControlName="total_patient"></td>
                      <!-- <td>
                        <textarea class="form-control" placeholder="" id="doc_required"
                          formControlName="doc_required"></textarea>
                      </td> -->
                      <td>
                        <button type="button" class="btn myhc-btn-fill" (click)="savePackagePatient()">
                          <i class="fa fa-save"></i></button>
                        <button type="button" class="btn myhc-btn-danger-fill" (click)="cancelPackagePatient()">
                          X</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-white">
        <div class="pull-right">
          <button type="button" class="btn myhc-btn-danger-fill" (click)="closeScreeningPlan()">{{ 'screening-plan.button.title_close' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #tmpAddOnPackage let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <div class="myhc-card-title"> {{mode}} {{ 'screening-plan.title_screeningTest' | translate | uppercase }}</div>
    </div>
    <div class="modal-body">
      <div [formGroup]="dataFormAOPackage" *ngIf="dataFormAOPackage">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col">
                {{ 'screening-plan.form.title_packageCode' | translate }} <br>
                <span class="badge badge-warning badge-md">{{selectedPackagePlan.package_code}}</span>&nbsp;
                <b>{{selectedPackagePlan.single_package}}</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                {{ 'screening-plan.form.title_screeningTest' | translate }}
                <select class="form-control" formControlName="test_group_code" aria-placeholder="Screening test"
                  id="test_group_code">
                  <option [value]="null">{{ 'screening-plan.form.title_choose' | translate }}</option>
                  <option *ngFor="let lookupTestGroup of testGroupTypes" [value]="lookupTestGroup.test_group_code">
                    {{lookupTestGroup.group_name}}
                  </option>
                </select>
              </div>
              <div class="col">
                {{ 'screening-plan.form.title_location' | translate }}
                <select class="form-control" aria-placeholder="Location" formControlName="test_location"
                  id="test_location">
                  <option [value]="null">{{ 'screening-plan.form.title_choose' | translate }}</option>
                  <option *ngFor="let lookupLocation of locationTypes" [value]="lookupLocation.code">
                    {{lookupLocation.name}}
                  </option>
                </select>
              </div>
              <!-- <div class="col">
                Total Test Conducted
                <input type="number" class="form-control mr-sm-2" placeholder="Test Conducted" id="total_test_conducted"
                  formControlName="total_test_conducted">
                <div *ngIf="isSubmitted && dataFormAOPackage.get('total_test_conducted').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Test Conducted is required</div>
                </div>
              </div> -->
            </div>
            <br>
            <div class="row">
              <div class="col">
                {{ 'screening-plan.form.title_remark' | translate }}
                <textarea class="form-control" placeholder="Remark" formControlName="remark"></textarea>
                <div *ngIf="isSubmitted && dataFormAOPackage.get('remark').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">{{ 'screening-plan.error.error_remark' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer bg-white">
          <div class="pull-right">
            <button type="button" class="btn myhc-btn-fill" (click)="saveAddOnPackage()">{{ 'screening-plan.button.title_save' | translate }}</button>
            <button type="button" class="btn myhc-btn-danger-fill" (click)="modalRef.hide()">{{ 'screening-plan.button.title_close' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #tmpAddOnService let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <div class="myhc-card-title"> {{mode}} {{ 'screening-plan.title_planService' | translate | uppercase }} </div>
    </div>
    <div class="modal-body">
      <div [formGroup]="dataFormAOService" *ngIf="dataFormAOService">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col">
                {{ 'screening-plan.title_packagePlan' | translate }} <br>
                <span class="badge badge-warning badge-md">{{selectedPackagePlan.package_code}}</span><br>
                <b>{{selectedPackagePlan.single_package}}</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                {{ 'screening-plan.title_planService' | translate }}
                <select class="form-control" formControlName="add_on_code" id="add_on_code">
                  <option [value]="null">{{ 'screening-plan.form.title_choose' | translate }}</option>
                  <option *ngFor="let lookupAddOn of addOnTypes" [value]="lookupAddOn.add_on_code">
                    {{lookupAddOn.name}} ({{lookupAddOn.add_on_code}})
                  </option>
                </select>
              </div>
              <div class="col">
                {{ 'screening-plan.form.title_location' | translate }}
                <select class="form-control" formControlName="test_location_code" id="test_location_code">
                  <option [value]="null">{{ 'screening-plan.form.title_choose' | translate }}</option>
                  <option *ngFor="let lookupLocation of locationTypes" [value]="lookupLocation.code">
                    {{lookupLocation.name}}
                  </option>
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                {{ 'screening-plan.form.title_patientType' | translate }}
                <select class="form-control" formControlName="patient_type_code" id="patient_type_code">
                  <option [value]="null">{{ 'screening-plan.form.title_choose' | translate }}</option>
                  <option *ngFor="let lookupPT of patientTypes" [value]="lookupPT.patient_type_code">
                    {{lookupPT.patient_type_code}}
                  </option>
                </select>
              </div>
              <!-- <div class="col">
                Total Test Conducted<input type="number" class="form-control mr-sm-2" placeholder="Enter test conducted"
                  id="total_test_conducted" formControlName="total_test_conducted">
                <div *ngIf="isSubmitted && dataFormAOService.get('total_test_conducted').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">Total Test Conducted is required</div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="card-footer bg-white">
          <div class="pull-right">
            <button type="button" class="btn myhc-btn-fill" (click)="saveAddOnService()">{{ 'screening-plan.button.title_save' | translate }}</button>
            <button type="button" class="btn myhc-btn-danger-fill" (click)="modalRef.hide()">{{ 'screening-plan.button.title_close' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
