<div class="row">
    <div class="col-sm-12">
      <h1 class="font-weight-bold pull-right">
        <span class="text-blue">{{ 'screening-test.breadcrumb.blue_title_1' | translate | uppercase }} {{ 'screening-test.breadcrumb.blue_title_2' | translate | uppercase }}</span>&nbsp;<span class="text-green">{{ 'screening-test.breadcrumb.green_title' | translate | uppercase }}</span>
      </h1>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-sm-12">
          <div class="rcorner-green">
            <div class="lefticon">
              <i class="fa fa-th-large text-blue"></i>
            </div>
            {{ 'screening-test.dashboard.title_welcome_start' | translate }} <b><span class="text-blue">{{ 'screening-test.breadcrumb.blue_title_2' | translate }}</span>&nbsp;<span class="text-green">{{ 'screening-test.breadcrumb.green_title' | translate }}</span></b> {{ 'screening-test.dashboard.title_welcome_end' | translate }}.
            <br />
            {{ 'screening-test.dashboard.title_welcomeDesc' | translate }}.
          </div>
        </div>
      </div>
     
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="rcorner-green">
            <div class="lefticon" style="left: 120px !important;">
              <b><i class="fa fa-th-large text-blue"></i> &nbsp;<span class="text-blue">{{ 'screening-test.breadcrumb.blue_title_2' | translate | uppercase }}</span>&nbsp;<span class="text-green">{{ 'screening-test.dashboard.title_demographics' | translate | uppercase }}</span></b>
            </div>
            <div class="row" style="padding: 15px 15px;">
              <b>
              <span class="text-blue">{{ 'screening-test.dashboard.title_population' | translate }}</span>&nbsp;    
              <span class="text-green">{{ 'screening-test.dashboard.title_byGender' | translate }}</span>
              </b>
              <ngx-charts-pie-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="singleGender"
              [gradient]="gradient"
              [legend]="showLegend"
              [legendPosition]="legendPosition"
              [labels]="showLabels"
              [doughnut]="isDoughnut"
              >
            </ngx-charts-pie-chart>        
            
          </div>
          <div class="row" style="padding: 15px 15px;">
            <b>
            <span class="text-blue">{{ 'screening-test.dashboard.title_population' | translate }}</span>&nbsp;    
            <span class="text-green">{{ 'screening-test.dashboard.title_byAge' | translate }}</span>
            </b>
            <ngx-charts-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="singleAge"
            [gradient]="gradient"
            [legend]="showLegend"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            >
          </ngx-charts-pie-chart>        
          
        </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="rcorner-green">
            <div class="lefticon" style="left: 130px !important;">
              <b><i class="fa fa-th-large text-blue"></i> &nbsp;<span class="text-blue">{{ 'screening-test.breadcrumb.blue_title_2' | translate | uppercase }}  {{ 'screening-test.breadcrumb.green_title' | translate | uppercase }}</span>&nbsp;<span class="text-green">{{ 'screening-test.dashboard.title_summary' | translate | uppercase }}</span></b>
            </div>
            <div class="row" style="padding: 5px 5px;">
              <div class="col-sm-12">
                
              </div>
              
                <div class="col-md-12">
                  <div class="pt-2"></div>
                  <div class="row">
                    <div style="margin-left: auto; margin-right: auto;">
                      <ngx-charts-line-chart
                      [view]="viewLine"
                      [scheme]="colorScheme"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      [timeline]="timeline"
                      [showRefLines]="showRefLines"
                      [referenceLines]="referenceLines"
                      [results]="multi">
                      </ngx-charts-line-chart>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
  
      
   
    </div>
  </div>
