

li a {
  padding: 10px 15px;
  color: #057E8C;
}

li a:hover {
  padding: 8px 15px;
  color: #fff;
}


li {
  padding: 8px 15px;
  color: #057E8C;
}

li.active{
  color: #fff;
  background-color: #057E8C;
}

li.active a{
  color: #fff;
}

li:hover{
  padding: 8px 15px;
  transition: 0.1s all;
  color: #fff;
  background-color: #057E8C;
  cursor: pointer;
}

.border-right-line{
  border-right:2px solid #8d8d8d;
}

.icons-collapse {
  font-size: 18px;
  position: absolute;
  top: 150px;
  right: 20px;
  transform: translate(-40%, 0);
  z-index: 99;
  color: #8d8d8d;
}

.icons-expand {
  font-size: 18px;
  position: absolute;
  top: 150px;
  left: 20px;
  transform: translate(-40%, 0);
  z-index: 99;
  color: #8d8d8d;
}
