<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <img width="100%" height="221" [src]="picturePath+'header-receiptlogo.jpg'">
    </div>
    <div class="col-sm-12" *ngIf="dataBookingPayment">
      <table style="width: 100%; border: 1px solid rgb(4, 165, 219)">
        <tbody>
          <tr style="background-color: lightblue;" class="font-weight-bold">
            <td style="width: 50%;border: 1px solid rgb(4, 165, 219);padding:5px"> BIL TO </td>
            <td style="border: 1px solid rgb(4, 165, 219)"> PAYMENT DETAILS </td>
          </tr>
          <tr>
            <td style="border: 1px solid rgb(4, 165, 219);padding:5px">
              {{dataBookingPayment.person.name}}<br>
              {{dataBookingPayment.person.address}}<br>
              {{dataBookingPayment.person.town}}, {{dataBookingPayment.person.district}}<br>
              {{dataBookingPayment.person.postcode}}, {{dataBookingPayment.person.state}}<br>
              +60{{dataBookingPayment.person.mobile_no}}<br>
              {{dataBookingPayment.person.email}}
            </td>
            <td style="border: 1px solid rgb(4, 165, 219);vertical-align: text-top;padding:5px">
              <div *ngFor="let payment of dataBookingPayment.payments">
                <b>RECEIPT NO:</b> {{payment.trans_no}}<br>
                <b>PAYMENT METHOD:</b> {{payment.ipay88.payment_method}}<br>
                <b>DATE:</b> {{payment.payment_date}}<br>
                <b>TOTAL PAID:</b> MYR{{payment.amount| number : '1.2-2'}}
              </div>
              <div *ngIf="dataBookingPayment.payments.length==0" class="text-danger">Incomplete payment</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12">
      <div class="pt-3"></div>
    </div>
    <div class="col-sm-12" *ngIf="dataBookingPayment">
      <table style="width: 100%; border: 1px solid rgb(4, 165, 219);padding:5px">
        <tbody>
          <tr style="background-color: rgb(41, 40, 40); color:white" class="font-weight-bold">
            <td style="width: 40%;border: 1px solid rgb(4, 165, 219);padding:5px"> DESCRIPTION </td>
            <td style="border: 1px solid rgb(4, 165, 219);padding:5px" class="text-center" width="20%"> AMOUNT (MYR) </td>
          </tr>
          <tr *ngFor="let product of dataBookingPayment.products">
            <td style="border: 1px solid rgb(4, 165, 219);padding:5px" >
              {{product.quantity}} x {{product.name}}
            </td>
            <td style="padding:5px" class="text-right">{{product.total_price| number : '1.2-2'}}</td>
          </tr>
          <tr>
            <td style="border: 1px solid rgb(4, 165, 219);padding:5px">
              <b>Users to be screen:</b>
              <div *ngFor="let patient of dataBookingPayment.patients; let i=index">
                {{i+1}}. {{patient.person.name}}
              </div>
              <br>
              <div>Venue: {{dataBookingPayment.screening_center?dataBookingPayment.screening_center.sc_name:'HOME'}}</div>
              <div>Date: {{dataBookingPayment.screening_date}}</div>
              <div>Time: {{dataBookingPayment.screening_time}}</div>
            </td>
            <td style="border: 1px solid rgb(4, 165, 219);padding:5px"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-right font-weight-bold text-danger">RECEIPT TOTAL</td>
            <td style="background-color: rgb(85, 214, 223);font-size:16px" class="text-right font-weight-bold">{{receiptTotal| number : '1.2-2'}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-sm-12">
      <div class="pt-5"></div>
    </div>
    <div class="col-sm-12">
      <table style="width: 100%; ">
        <tbody>
          <tr>
            <td
              style="width: 50%; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; "
               ><span  >If you have any
                questions
                about this receipt,&nbsp;please contact :<br>Tel:
                +603 89595182<br>Fax: +603 89585182</span><br></td>
            <td
              style="width: 50%; text-align: right; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; "
               ><span
                style="font-family: Roboto;  text-align: right; ">No
                Signature affixed<br>This is an auto-generated
                receipt</span><br></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
 