<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">CORPORATE STAFF</span>&nbsp;<span class="text-green">DASHBOARD</span>
    </h1>
  </div>
</div>

<div class="row" *ngIf="user">
  <div class="col-sm-6">
    <app-dsh-screening-plan-details [data-registration]="dataRegistration" *ngIf="dataRegistration&&!loading">
    </app-dsh-screening-plan-details>
  </div>
  <div class="col-sm-6">
    <div class="card" *ngIf="dataRegistration&&!loading">
      <div class="card-body">
        <app-dsh-company-details [data-registration]="dataRegistration"></app-dsh-company-details>
        <app-dsh-patient-details [data-registration]="dataRegistration"></app-dsh-patient-details>
      </div>
    </div>
  </div>
</div>