<div class="row">
  <h1 class="font-weight-bold">
      {{ 'test-panel.group.title' | translate | uppercase }}
  </h1>
</div>

<div class="pt-3"></div>

<div class="row">
  &nbsp;
</div>
  <div class="pt-5"></div>

<div class="pt-5"></div>
<div class="pt-3"></div>

  <div class="myhc-card" style="padding-top:10px; width:100%">
    <div class="card-body">
    <div class="col-sm-12 bg-white">
      <button type="button" class="btn myhc-btn-fill pull-right" tooltip="Add new"
        (click)="newAddOnPackage(tmpAddOnPackage)" placement="bottom" ><i class="fa fa-plus"></i>{{ 'test-panel.group.button.title_newPlanTest' | translate }}</button>
    </div>
    <div class="pt-5"></div>
    <div class="col-sm-12 bg-white">
      <div class="table-responsive">
        <!-- <pre>{{dataAddOnP|json}}</pre> -->
        <table class="table">
          <thead>
            <th>{{ 'test-panel.group.table.title_testItemCode' | translate }}</th>
            <th>{{ 'test-panel.group.table.title_testIncluded' | translate }}</th>
            <th>{{ 'test-panel.group.table.title_price' | translate }}</th>
            <th>{{ 'test-panel.group.table.title_patientType' | translate }}</th>
            <!-- <th>Package Category</th> -->
            <th>{{ 'test-panel.group.table.title_enabled' | translate }}</th>
          </thead>
          <tbody>
            <tr *ngFor="let addOnP of dataAddOnP">
              <td>
                <span class="badge badge-warning"> {{addOnP.test_group_code}} </span><br>
                <b>{{addOnP.group_name}} </b>
                <button class="btn btn-sm text-danger pull-right" [tooltip]="'Delete test item ' + addOnP.test_group_code"
                [disabled]="RoleBase.delete==0" (click)="deleteAddOnPackage(addOnP)" placement="bottom"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-sm text-primary pull-right"
                [disabled]="RoleBase.read==0"  (click)="editAddOnPackage(tmpAddOnPackage,addOnP)" [tooltip]="'Edit test item ' + addOnP.test_group_code"><i class="fa fa-pencil"></i></button>
              </td>
              <td>
                <div class="small text-muted" *ngIf="addOnP.test_panels.length==0"><i
                    class="fa fa-exclamation-circle"></i> <i>{{ 'test-panel.group.table.title_noTestPanel' | translate }}</i></div>
                <table class="table table-bordered table-sm" width="100%">
                  <tbody>
                    <tr *ngFor="let tps of addOnP.test_panels; let i=index;">
                      <td style="font-size: 12px;">{{i+1}}. {{tps.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>{{addOnP.price}} </td>
              <td>{{addOnP.patient_type}} </td>
              <!-- <td>{{addOnP.package_category}} </td> -->
              <td>{{addOnP.enabled}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #tmpAddOnPackage let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <div class="myhc-card-title">{{mode}} {{ 'test-panel.group.modal.title' | translate | uppercase }}</div>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div [formGroup]="dataFormAddOnP" *ngIf="dataFormAddOnP">
        <div class="card-body">
          <div class="container">
            <div class="row" *ngIf="mode=='EDIT'">
              <div class="col-3">
                {{ 'test-panel.group.modal.title_testItemCode' | translate }}<br>
                <b  ><span
                    class="badge badge-warning badge-md">{{dataFormAddOnP.get('test_group_code').value}}</span></b>
              </div>
            </div>
            <!-- <div class="col-9"> -->
            <!-- Package Category
                <select class="form-control" formControlName="package_category" id="package_category">
                  <option *ngFor="let lookupPackageCat of packageCategoryTypes"
                    [value]="lookupPackageCat.category_code">
                    {{lookupPackageCat.description}}
                  </option>
                </select> -->
            <!-- </div> -->
            <!-- </div> -->
            <br>
            <div class="row">
              <div class="col-12">
                {{ 'test-panel.group.modal.title_testItemName' | translate }}
                <input type="text" class="form-control" placeholder="Enter package name" id="group_name"
                  formControlName="group_name">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4">
                {{ 'test-panel.group.modal.title_patientType' | translate  }}
                <select class="form-control" formControlName="patient_type" id="patient_type">
                  <option [value]="null">{{ 'test-panel.group.modal.title_choose' | translate }}</option>
                  <option *ngFor="let lookupPT of patientTypes" [value]="lookupPT.patient_type_code">
                    {{lookupPT.patient_type_code}} ({{lookupPT.name}})
                  </option>
                </select>
              </div>
              <div class="col-4">
                {{ 'test-panel.group.modal.title_enabled' | translate }}<br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="enabled" id="enabled" value="YES"
                    checked>
                  <label class="form-check-label" for="enabled">
                    {{ 'test-panel.group.modal.title_yes' | translate | uppercase }}
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="enabled" id="enabled" value="NO">
                  <label class="form-check-label" for="enabled">
                    {{ 'test-panel.group.modal.title_no' | translate | uppercase }}
                  </label>
                </div>
              </div>
              <div class="col-4">
                {{ 'test-panel.group.modal.title_price' | translate }}
                <input type="text" class="form-control" placeholder="MYR xx.xx" id="price" formControlName="price">
              </div>
            </div>
            <div class="card-body">
              <div class="pull-right">
                <button type="button" class="btn myhc-btn-fill"  [disabled]="RoleBase.update==0" (click)="saveAddOnPackage()"> {{ 'test-panel.group.button.title_save' | translate }}</button>
                <!-- <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()">
                    Close</button> -->
              </div>
            </div>
          </div>
        </div>
        <hr>
        <!-- ONLY APPEAR WHEN EDIT -->
        <!-- <hr>---- -->
        <div *ngIf="mode=='EDIT'">
          <div style="width: 100%">
            <div class="col-md-12">
              <div class="row">
                <h3 class="card-title">{{ 'test-panel.group.modal.title_listTestIncluded' | translate }}</h3>
              </div>
              <div class="row">
                <button class="btn btm-sm pull-right"  (click)="newTestPanel(dataFormAddOnP.get('test_group_code').value)"><i class="fa fa-plus"></i>
                  {{ 'test-panel.group.button.title_testPanel' | translate }}</button>
              </div>

              <div class="row">
                <div *ngIf="selectedPackage.test_panels.length==0">
                  <div class="text-muted small"><i class="fa fa-exclamation-circle"></i> <i>{{ 'test-panel.group.modal.title_noTestIncluded' | translate }}</i></div>
                </div>
              </div>

              <div class="row">
                <table class="table table-sm table-bordered" *ngIf="selectedPackage.test_panels.length>0">
                  <tr *ngFor="let tp of selectedPackage.test_panels; let i=index;">
                    <td>
                      {{i+1}}.
                    </td>
                    <td>
                      {{tp.name}}
                    </td>
                    <td>
                      <button class="btn btn-sm text-denger"  [disabled]="RoleBase.delete==0" (click)="deleteTestPanel(tp)"><i
                          tooltip="Remove test panel " class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>

              <div class="row" *ngIf="(modeTPanel=='EDIT'||modeTPanel=='NEW') && dataFormTestPanel" [formGroup]="dataFormTestPanel">
                <div class="card-body">
                  <h5 class="card-title">{{ 'test-panel.group.modal.title_selectTestPanel' | translate }}:</h5>
                  <table class="table table-sm table-bordered">
                    <tr>
                      <td>
                        <select class="form-control" formControlName="test_panel_code" id="test_panel_code">
                          <option [value]="null">{{ 'test-panel.group.modal.title_chooseTestPanel' | translate }}</option>
                          <option *ngFor="let lsTestPanel of testPanelTypes" [value]="lsTestPanel.test_panel_code">
                            {{lsTestPanel.name}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div class="pull-right">
                          <button class="btn btn-sm text-primary" (click)="addTestPanel()" tooltip="Add test panel to list of test included"><i class="fa fa-save"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="body-footer">
        <div class="pull-right">
          <button type="button" class="btn myhc-btn-danger-fill" (click)="cancel()"> {{ 'test-panel.group.button.title_close' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
