<div class="row">
  <h1 class="font-weight-bold">
    {{ "marketplace.title" | translate | uppercase }}
  </h1>
</div>

<div class="pt-3"></div>

<div class="row">
<div class="welcome-label">Hello <b>{{user.person.name.toUpperCase()}}</b></div>
</div>

<div class="pt-5"></div>
<div class="pt-5"></div>

<div class="row" style="width: 60%; margin-left: auto; margin-right: auto;">
<div class="col-md-12">
  <h2 class="myhc-subtitle"><span class="myhc-subtitle-u">{{ "marketplace.listing.title_featured" | translate | uppercase }} / {{ "marketplace.listing.title_promotion" | translate | uppercase }}</span></h2>
  <div class="row">
    <div class="col-md-10">
      {{ "marketplace.listing.title_featured_desc" | translate }}.
    </div>
    <div class="col-md-2 text-right">
      <a href="">{{ "marketplace.title_viewAll" | translate }} ></a>
    </div>
  </div>
  <div class="pt-3"></div>
  <div class="row">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let item of planTestItems" class="slide">
    <img class="slick-slider-img" src="https://via.placeholder.com/150x80" alt="" width="100%">
  </div>
</ngx-slick-carousel>
  </div>
</div>
</div>

<div class="row" style="width: 60%; margin-left: auto; margin-right: auto;">
<div class="col-md-12">
  <h2 class="myhc-subtitle"><span class="myhc-subtitle-u">{{ "marketplace.listing.title_myhealthcard" | translate | uppercase }}</span></h2>
  <div class="row">
    <div class="col-md-10">
      {{ "marketplace.listing.title_myhealthcard_desc" | translate }}.
    </div>
    <div class="col-md-2 text-right">
      <a href=""><a href="">{{ "marketplace.title_viewAll" | translate }} ></a> ></a>
    </div>
  </div>
  <div class="pt-3"></div>
  <div class="row">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let item of planServices; let i = index" class="slide">
    <img class="slick-slider-img" src="https://via.placeholder.com/150x80" alt="" width="100%" data-toggle="tooltip" data-placement="bottom" title={{this.planServicesDesc[i]}}>
  </div>
</ngx-slick-carousel>
  </div>
</div>
</div>
