<div class="row">
  <h1 class="font-weight-bold">
    {{ 'admin-settings.title' | translate | uppercase }}
  </h1>
</div>

<div class="pt-3"></div>

<div class="row">
    <button type="button" class="btn myhc-btn-fill pull-right" (click)="newAccount(tmpInputAccountInfo)"><i class="fa fa-plus"></i>{{ 'new-account.button.title_newAccount' | translate | uppercase }}</button>
</div>

<div class="pt-5"></div>
<div class="pt-5"></div>
<div class="pt-3"></div>

<div class="col-md-12">
  <ngb-tabset class="myhc-tab">
    <ngb-tab>
      <ng-template ngbTabTitle>{{ 'admin-settings.tab.tab_title_admin' | translate }}</ng-template>
      <ng-template ngbTabContent>

          <div *ngIf="loading">
            <i class="spinner-border spinner-border-sm text-primary"></i> {{ 'title_loading' | translate }}...
            <div class="pt-3"></div>
          </div>
          <p-table #dt [value]="dataAdminPerson" [responsive]="true" [paginator]="true" [rows]="10"
            [globalFilterFields]="['name','ic_no','town','state','reg_no','date_registered']" *ngIf="!loading">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter"
                  (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th width="5%">#</th>
                <th>{{ 'admin-settings.table.title_name' | translate }}</th>
                <th>{{ 'admin-settings.table.title_email' | translate }}</th>
                <th width="15%">{{ 'admin-settings.table.title_group' | translate }}</th>
                <th width="10%">{{ 'admin-settings.table.title_dateUpdate' | translate }}</th>
                <th width="10%">{{ 'admin-settings.table.title_action' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-person let-rowIndex="rowIndex">
              <tr>
                <td width="5%" style="vertical-align:top">
                  <div class="ui-column-title text-green">#</div>
                  <div>{{rowIndex+1}}</div>
                </td>
                <td style="vertical-align:top">
                  {{person.name}}<br>
                  {{person.ic_no}}
                </td>
                <td style="vertical-align:top">
                  {{person.email}}
                </td>
                <td style="vertical-align:top">
                  {{person.menu_owner}}
                </td>

                <td style="vertical-align:top">
                  {{person.date_updated}}
                </td>

                <td width="10%" style="vertical-align:top">
                  <i class="fa fa-edit" (click)="editAccount(tmpInputAccountInfo,person)"></i>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              {{dataAdminPerson?.length}} {{ 'admin-settings.table.title_record' | translate }}
            </ng-template>
          </p-table>


      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>{{ 'admin-settings.tab.tab_title_group' | translate }}</ng-template>
      <ng-template ngbTabContent>


    <div *ngIf="loading">
      <i class="spinner-border spinner-border-sm text-primary"></i> {{ 'title_loading' | translate }}...
      <div class="pt-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn myhc-btn-fill pull-right mb-3" (click)="newGroup(tmpInputGroupInfo)"><i class="fa fa-plus"></i> {{ 'admin-settings.button.title_newGroup' | translate }}</button>
      </div>
    </div>
    <p-table #dt [value]="dataGroup" [responsive]="true" [paginator]="true" [rows]="10"
      [globalFilterFields]="['group','owner','title']" *ngIf="!loading">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th width="5%">#</th>
          <th width="40%">{{ 'admin-settings.table.title_group' | translate }}</th>
          <th width="40%">{{ 'admin-settings.table.title_title' | translate }}</th>
          <th width="15%">{{ 'admin-settings.table.title_action' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-group let-rowIndex="rowIndex">
        <tr>
          <td width="5%" style="vertical-align:top">
            <div class="ui-column-title text-green">#</div>
            <div>{{rowIndex+1}}</div>
          </td>
          <td style="vertical-align:top">
            {{ group.owner }}
          </td>
          <td style="vertical-align:top">
            {{ group.title }}
          </td>
          <td width="10%" style="vertical-align:top">
            <i class="fa fa-search" (click)="editGroup(tmpInputGroupInfo,group)"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        {{dataGroup?.length}} {{ 'admin-settings.table.title_record' | translate }}
      </ng-template>
    </p-table>


      </ng-template>
    </ngb-tab>


    <ngb-tab>
      <ng-template ngbTabTitle>{{ 'admin-settings.tab.tab_title_groupMenu' | translate }}</ng-template>
      <ng-template ngbTabContent>

          <div class="pt-3"></div>

          <div *ngFor="let mainMenu of dataMainMenu  | keyvalue; let i = index; let last = last">
            <!-- <pre>{{mainMenu.value | json}}</pre> -->
            <h3 class="font-weight-bold text-blue">{{ 'admin-settings.table.title_group' | translate | uppercase }} : {{mainMenu.key}}</h3>

            <div class="row" *ngFor="let menu of mainMenu.value">
              <div class="col-sm-12">
                <hr>
              </div>
              <div class="col-sm-3 font-weight-bold">
                <div>{{menu.title}}</div>
                <div class="pt-3"></div>
                <button class="btn myhc-btn-fill" (click)="openMenuItem(tmpAddMenuItem,menu)"><i class="fa fa-plus"></i> {{ 'admin-settings.button.title_addMenuItem' | translate | uppercase }}</button>
              </div>
              <div class="col-sm-9">
                <table class="table table-striped">
                  <thead>
                    <th width="5%">{{ 'admin-settings.table.title_seq' | translate }}</th>
                    <th>{{ 'admin-settings.table.title_menu' | translate }}</th>
                    <th width="25%">{{ 'admin-settings.table.title_path' | translate }}</th>
                    <th width="25%">{{ 'admin-settings.table.title_page' | translate }}e</th>
                    <th width="10%">{{ 'admin-settings.table.title_enable' | translate }} </th>
                    <th width="5%">{{ 'admin-settings.table.title_create' | translate }} </th>
                    <th width="5%">{{ 'admin-settings.table.title_read' | translate }}</th>
                    <th width="5%">{{ 'admin-settings.table.title_update' | translate }} </th>
                    <th width="5%">{{ 'admin-settings.table.title_delete' | translate }} </th>
                    <th width="10%"></th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of menu.items">
                      <td>{{item.sort_id}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.path}}</td>
                      <td>{{item.page}}</td>
                      <td>{{item.enabled==1?'Yes':'No'}}</td>
                      <td>{{item.permission.create==1?'Yes':'No'}}</td>
                      <td>{{item.permission.read==1?'Yes':'No'}}</td>
                      <td>{{item.permission.update==1?'Yes':'No'}}</td>
                      <td>{{item.permission.delete==1?'Yes':'No'}}</td>
                      <td>
                        <i class="fa fa-edit pr-3" (click)="editMenuItem(tmpEditMenuItem, item.item_id, menu.main_id)"></i>
                        <i class="fa fa-trash text-danger" (click)="deleteMenuItem(item.item_id, menu.main_id)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <hr *ngIf="!last" class="line-blue">

          </div>



      </ng-template>
    </ngb-tab>



  </ngb-tabset>
</div>



















<ng-template #tmpInputAccountInfo let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <div class="myhc-card-title">{{mode}} {{ 'new-account.title_accountInfo' | translate | uppercase }}</div>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body bg-light-green">
      <h2 class="font-weight-bold text-green">{{ 'new-account.title_userDetail' | translate | uppercase }}</h2>
      <div [formGroup]="dataForm" *ngIf="dataForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="form-group col-sm-9">
                <label for="name">{{ 'new-account.form.title_name' | translate }} </label>
                <input type="text" class="form-control" placeholder="Enter name" id="name" formControlName="name">
                <div *ngIf="isSubmitted && dataForm.get('name').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ 'new-account.error.title_name' | translate }}</div>
                </div>
              </div>
              <!-- <div class="form-group col-sm-3">
                <label for="age">Gender</label>
                <select formControlName="gender" class="form-control">
                  <option [value]="null">Please choose</option>
                  <option value="F">Female</option>
                  <option value="M">Male</option>
                </select>
                <div *ngIf="isSubmitted && dataForm.get('gender').invalid" class="field-validation-error small">
                  <div class="text-danger">Gender is required</div>
                </div>
              </div> -->
              <div class="form-group col-sm-6">
                <label for="ic_no">{{ 'new-account.form.title_nric' | translate }}</label>
                <div *ngIf="mode=='EDIT'" class="font-weight-bold">{{dataForm.get('ic_no').value}}</div>
                <input type="text" class="form-control mr-sm-2" [mask]="'000000-00-0000'" placeholder="Enter IC no" id="ic_no" formControlName="ic_no" *ngIf="mode=='NEW'">
                <div *ngIf="isSubmitted && dataForm.get('ic_no').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ 'new-account.error.title_nric' | translate }}</div>
                </div>
              </div>
              <!-- <div class="form-group col-sm-3">
                <label for="age">Age</label>
                <input type="number" class="form-control mr-sm-2 " placeholder="Enter age" id="age"
                  formControlName="age">
                <div *ngIf="isSubmitted && dataForm.get('age').invalid" class="field-validation-error small">
                  <div class="text-danger">Age is required</div>
                </div>
              </div> -->
              <div class="form-group col-sm-3">
              </div>

              <div class="form-group col-sm-6">
                <label for="mobile_no">{{ 'new-account.form.title_mobile' | translate }}</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend ">
                    <span class="input-group-text bg-white text-dark">+60</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Enter Mobile No" id="mobile_no" maxlength="15"
                    formControlName="mobile_no">
                </div>
                <div *ngIf="isSubmitted && dataForm.get('mobile_no').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ 'new-account.error.title_mobile' | translate }}</div>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <label for="email">{{ 'new-account.form.title_email' | translate }}</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter email" id="email"
                  formControlName="email">
                <div *ngIf="isSubmitted && dataForm.get('email').errors" class="field-validation-error small">
                  <div *ngIf="dataForm.get('email').invalid" class="text-danger">{{ 'new-account.error.title_email' | translate }}</div>
                  <div *ngIf="dataForm.get('email').errors.email" class="text-danger">{{ 'new-account.error.title_emailInvalid' | translate }}</div>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <h2 class="font-weight-bold text-green">{{ 'new-account.form.title_account' | translate | uppercase }}</h2>
                <label for="email">{{ 'new-account.form.title_group' | translate }}</label><br>
                <select formControlName="user_group" class="form-control mr-sm-2 ">

                  <option [value]="null">{{ 'new-account.form.title_choose' | translate }}</option>
                  <option [value]="data.owner" *ngFor="let data of dataUniqueGroup">{{data.owner}}</option>

                </select>
              </div>
              <div class="form-group col-sm-6" *ngIf="dataForm.get('username').value">
                <h2 class="font-weight-bold text-green">&nbsp;</h2>
                <label for="email">{{ 'new-account.form.title_reset' | translate }}</label>
                <div class="font-weight-bold">
                  <button class="btn myhc-btn-fill" tooltip="Reset password" (click)="resetPassword()"><i class="fa fa-key"></i></button>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-6" style="border-left: solid 1px lightgray;">
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="address">{{ 'new-account.form.title_address' | translate }}</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter Address" id="address"
                  formControlName="address">
                <div *ngIf="isSubmitted && dataForm.get('address').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ 'new-account.error.title_address' | translate }}</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="town">{{ 'new-account.form.title_town' | translate }}</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter town" id="town"
                  formControlName="town">
                <div *ngIf="isSubmitted && dataForm.get('town').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ 'new-account.error.title_town' | translate }}</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="district">{{ 'new-account.form.title_district' | translate }}</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter District" id="district"
                  formControlName="district">
                <div *ngIf="isSubmitted && dataForm.get('district').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ 'new-account.error.title_district' | translate }}</div>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label for="postcode">{{ 'new-account.form.title_postcode' | translate }}</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter Postcode" id="postcode"
                  maxlength="6" formControlName="postcode">
                <div *ngIf="isSubmitted && dataForm.get('postcode').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ 'new-account.error.title_postcode' | translate }}</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="state">{{ 'new-account.form.title_state' | translate }}</label>
                <select class="form-control" formControlName="state">
                  <option [value]="null">{{ 'new-account.form.title_choose' | translate }}</option>
                  <option [value]="state.state_name" *ngFor="let state of states">{{state.state_name}}</option>
                </select>
                <div *ngIf="isSubmitted && dataForm.get('state').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ 'new-account.error.title_state' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer bg-light-green">
      <button type="button" class="btn myhc-btn-fill" (click)="saveAccount()">
        {{ 'new-account.button.title_save' | translate }}</button>
      <button type="button" class="btn myhc-btn-danger-fill" (click)="modalRef.hide()"
        style="margin-left: 5px;"> {{ 'new-account.button.title_close' | translate }}</button>
    </div>
  </div>
</ng-template>



<ng-template #tmpInputGroupInfo let-modal>
  <div class="modal-content">
    <div class="modal-header">
      {{mode}} {{ 'admin-settings.modal.title_groupInfo' | translate | uppercase }}
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>

    <div class="modal-body bg-light-green">
      <h2 class="font-weight-bold text-green">{{ 'admin-settings.modal.title_groupDetail' | translate | uppercase }}</h2>
      <div [formGroup]="dataGroupForm" *ngIf="dataGroupForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="form-group col-sm-9">
                <label for="owner">{{ 'admin-settings.modal.form.title_groupName' | translate }} </label>
                <input type="text" class="form-control" id="owner" formControlName="owner">
                <div *ngIf="isSubmitted && dataGroupForm.get('owner').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ 'admin-settings.modal.error.title_groupName' | translate }}</div>
                </div>
              </div>

              <div class="form-group col-sm-9">
                <label for="owner">{{ 'admin-settings.modal.form.title_title' | translate }} </label>
                <input type="text" class="form-control" id="title" formControlName="title">
                <div *ngIf="isSubmitted && dataGroupForm.get('title').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ 'admin-settings.modal.error.title_title' | translate }}</div>
                </div>
              </div>

              <div class="form-group col-sm-9">
                <label for="owner">{{ 'admin-settings.modal.form.title_titleBM' | translate }}</label>
                <input type="text" class="form-control"  id="lang_bm" formControlName="lang_bm">
                <div *ngIf="isSubmitted && dataGroupForm.get('lang_bm').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ 'admin-settings.modal.error.title_titleBM' | translate }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer bg-light-green">
      <button type="button" class="btn myhc-btn-fill" (click)="saveGroup()">
        {{ 'new-account.button.title_save' | translate }}</button>
      <button type="button" class="btn myhc-btn-danger-fill" (click)="modalRef.hide()"
        style="margin-left: 5px;"> {{ 'new-account.button.title_close' | translate }}</button>
    </div>
  </div>
</ng-template>

<ng-template #tmpAddMenuItem let-modal>
  <div class="modal-content">
    <div class="modal-header">
      {{ 'admin-settings.modal.title_addMenuItem' | translate | uppercase }} > {{selectedMainMenu.owner}} > {{selectedMainMenu.title}}
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body bg-light-green">
      <div style="overflow-y: scroll; height:400px;">
        <table class="table table-striped">
          <thead>
            <th width="5%">#</th>
            <th>{{ 'admin-settings.table.title_menu' | translate }}</th>
            <th width="25%">{{ 'admin-settings.table.title_path' | translate }}</th>
            <th width="25%">{{ 'admin-settings.table.title_page' | translate }}</th>
            <th width="10%">{{ 'admin-settings.table.title_enable' | translate }}</th>
            <th width="10%"></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of menuItems; let i=index">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.path}}</td>
              <td>{{item.page}}</td>
              <td>{{item.enabled==1?'Yes':'No'}}</td>
              <td>
                <i class="fa fa-plus" (click)="addMenuItem(item)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn myhc-btn-danger-fill" (click)="modalRef.hide()"
      style="margin-left: 5px;"> {{ 'new-account.button.title_close' | translate }}</button>
    </div>
  </div>
</ng-template>

<ng-template #tmpEditMenuItem let-modal>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      {{mode}} {{ 'admin-settings.title_menuItem' | translate }}
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body bg-light-green">
      <h2 class="font-weight-bold text-green">{{ 'admin-settings.title_menuDetail' | translate | uppercase }}</h2>

      <div [formGroup]="dataForm" *ngIf="dataForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="form-group col-md-3">
                <label class="form-check-label">
                  <span>{{ 'admin-settings.table.title_create' | translate | uppercase }}</span>
                  <input type="checkbox" class="form-check-input ml-2" formControlName="create" name="create">
                </label>
              </div>
              <div class="form-group col-md-3">
                <label class="form-check-label">
                  <span>{{ 'admin-settings.table.title_read' | translate | uppercase }}</span>
                  <input type="checkbox" class="form-check-input ml-2" formControlName="read" name="read">
                </label>
              </div>
              <div class="form-group col-md-3">
                <label class="form-check-label">
                  <span>{{ 'admin-settings.table.title_update' | translate | uppercase }}</span>
                  <input type="checkbox" class="form-check-input ml-2" formControlName="update" name="update">
                </label>
              </div>
              <div class="form-group col-md-3">
                <label class="form-check-label">
                  <span>{{ 'admin-settings.table.title_delete' | translate | uppercase }}</span>
                  <input type="checkbox" class="form-check-input ml-2" formControlName="delete" name="delete">
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="modal-footer bg-light-green">
      <button type="button" class="btn myhc-btn-fill" (click)="saveMenuItem()">
        {{ 'new-account.button.title_save' | translate }}</button>
      <button type="button" class="btn myhc-btn-danger-fill" (click)="modalRef.hide()"
        style="margin-left: 5px;"> {{ 'new-account.button.title_close' | translate }}</button>
    </div>
  </div>
</ng-template>
