<div>
    <div class="modal-body">
        <img class="center-image" src="assets/images/confirmation.png">
        <p>{{prompt}}</p>
    </div>
    <div class="modal-footer">
        <button type="button"
        class="btn myhc-btn-danger-fill"
        (click)="activeModal.close(false)">{{ 'app.button_cancel' | translate }}</button>
        <button type="button"
        class="btn myhc-btn-fill"
        (click)="activeModal.close(true)">{{ 'app.button_ok' | translate }}</button>
    </div>
</div>
