<div class="row">
  <div class="col-sm-12">
    <h3 class="text-muted">Test Result</h3>

    <div class="row">
      <div class="col-sm-12">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search patient's name or ref. no" [(ngModel)]="searchKey" (keyup.enter)="searchPatientsData()">
          <div class="input-group-append">
            <button class="btn btn-sm btn-success" type="button" (click)="searchPatientsData()">Go</button>
          </div>
        </div>
        <span *ngIf="isLoading"><i class="fa fa-spinner fa-spin" style="font-size:14px"></i> Loading..</span>  
        <div class="table-responsive" *ngIf="!isLoading">
          <table class="table table-striped table-bordered table-hover" *ngIf="dataPatients?.length>0">
            <thead>
              <tr>
                <th width="5%">#</th>
                <th width="10%">Ref No</th>
                <th>Name</th>
                <th width="10%">Age</th>
                <th width="10%">IC No</th>
                <th width="10%">Mobile No</th>
                <th width="15%">Email</th>
                <th width="10%" class="text-center">View Report</th>
                <th width="7%" class="text-center">Input</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let patient of dataPatients; let i = index">
                <td scope="row">{{i+1}}</td>
                <td>{{patient.refno}}</td>
                <td>{{patient.name}}</td>
                <td>{{patient.age}}</td>
                <td>{{patient.ic_no}}</td>
                <td>{{patient.mobile_no}}</td>
                <td>{{patient.email}}</td>
                <td><button class="btn btn-sm btn-round btn-primary" style="margin-right:10px;"
                    (click)="openViewReport(tmpViewResult,patient,'LDL')">LDL</button>
                    <button class="btn btn-sm btn-round btn-primary"
                    (click)="openViewReport(tmpViewResult,patient,'HbA1c')">HbA1c</button>
                </td>
                <td><button class="btn btn-sm btn-round btn-success"
                    (click)="openInput(tmpInputResult,patient)">Result</button>
                </td>
              </tr>
            </tbody>
          </table>
          <span class="text-muted" *ngIf="dataPatients?.length==0">No record to display</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #tmpInputResult let-modal>
  <!-- <div class="modal-dialog"> -->
  <div class="modal-content">
    <div class="modal-header bg-success">
      <h5 class="modal-title pull-left">INPUT HEALTH RESULT</h5>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="selectedPatient">
      <form>
        <div class="row">
          <div class="form-group col-sm-2">
            <span class="small">Ref No</span>
            <div class="font-weight-bold">{{selectedPatient.refno}}</div>
          </div>
          <div class="form-group col-sm-6">
            <span class="small">Name of patient</span>
            <div class="font-weight-bold">{{selectedPatient.name}}</div>
          </div>
          <div class="form-group col-sm-4">
            <span class="small">Age of patient</span>
            <div class="font-weight-bold">{{selectedPatient.age}}</div>
          </div>
        </div>
      </form>
      <hr>

      <!-- (tabChange)="beforeChange($event)" -->
      <ngb-tabset activeId="tab-1" justify="justified" type="pills" #myTabSet="ngbTabset">
        <ngb-tab title="LDL Cholesterol" id="tab-1">
          <ng-template ngbTabContent>
            <br>
            <div class="row" style="min-height: 250px;">
              <div class="col-sm-4" *ngFor="let ldl of dataLDLHealthResult" style="border: 1px solid #eee;">
                <span class="font-weight-bold">Month {{ldl.month}}</span><input type="number" class="form-control"
                  [(ngModel)]="ldl.result_value">
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="HbA1c" id="tab-2">
          <ng-template ngbTabContent>
            <br>
            <div class="row" style="min-height: 250px;">
              <div class="col-sm-4" *ngFor="let hbA1c of dataHbA1cHealthResult" style="border: 1px solid #eee;">
                <span class="font-weight-bold">Month {{hbA1c.month}}</span><input type="number" class="form-control"
                   [(ngModel)]="hbA1c.result_value">
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-round btn-primary" (click)="uploadResult()"><i
          class="fa fa-paper-plane-o"></i>
        Upload</button>
      <button class="btn btn-sm btn-round btn-secondary pull-right" (click)="modalRef.hide()">
        Back to patient's list
      </button>
    </div>
    <!-- </div> -->
  </div>

</ng-template>


<ng-template #tmpViewResult let-modal>
  <div class="modal  modal-content" *ngIf="selectedPatient">
    <div class="modal-header" style="margin: 0 auto;">
      <img src="assets/images/logo-myhc.png" alt="MyHealthCard" width="100" />
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <table class="table-striped" width="100%">
            <tr class="small">
              <td width="10%">Patient Ref</td>
              <td>Name</td>
              <td width="10%" class="text-center">Age</td>
              <th width="10%">IC No</th>
              <!-- <th width="10%">Mobile No</th> -->
              <!-- <th width="15%">Email</th> -->
              <td width="10%" class="text-center">View Report</td>
            </tr>
            <tr class="font-weight-bold">
              <td>{{selectedPatient.refno}}</td>
              <td>{{selectedPatient.name}}</td>
              <td class="text-center">{{selectedPatient.age}}</td>
              <td>{{selectedPatient.ic_no}}</td>
              <!-- <td>{{selectedPatient.mobile_no}}</td> -->
              <!-- <td>{{selectedPatient.email}}</td> -->
              <td>
                <button class="btn btn-sm text-primary" (click)="selectResultName('LDL')">LDL</button>
                <button class="btn btn-sm text-primary" (click)="selectResultName('HbA1c')">HbA1c</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <hr>
      <span class="font-weight-bold">{{selectedViewResult}} REPORT</span>
      <div *ngIf="selectedViewResult=='LDL'">
        <table class="table-bordered small" width="100%">
          <tr class="bg-primary">
            <td>
              Month
            </td>
            <td *ngFor="let ldl of dataLDLHealthResult" class="text-center" width="6%">
              {{ldl.month}}
            </td>
          </tr>
          <tr>
            <td>
              {{selectedViewResult}}
            </td>
            <td *ngFor="let ldl of dataLDLHealthResult" class="text-center">
              {{ldl.result_value}}
            </td>
          </tr>
        </table>
      </div>

      <div *ngIf="selectedViewResult=='HbA1c'">
        <table class="table-bordered small" width="100%">
          <tr class="bg-primary">
            <td>
              Month
            </td>
            <td *ngFor="let hbA1c of dataHbA1cHealthResult" class="text-center" width="6%">
              {{hbA1c.month}}
            </td>
          </tr>
          <tr>
            <td>
              {{selectedViewResult}}
            </td>
            <td *ngFor="let hbA1c of dataHbA1cHealthResult" class="text-center">
              {{hbA1c.result_value | number : '1.1-2'}}%
            </td>
          </tr>
        </table>
      </div>

      <div class="row">
        <div class="col-sm-9">
          <div id="chart-parent">
            <ngx-charts-line-chart #chart  *ngIf="colorScheme" [scheme]="colorScheme" [legend]="legend"
              [showXAxisLabel]="showXAxisLabel" legendPosition="below" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
              [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline"
              showGridLines ="true" autoScale="false"  
              [results]="graphData" yScaleMin="0">
            </ngx-charts-line-chart>
          </div>

        </div>
        <div class="col-sm-3">
          <div style="height: 80px;">&nbsp;</div>
          <table class="table-bordered small" width="100%">
            <tr *ngFor="let legend of graphLegend">
              <td>{{legend.name}}</td>
              <td [ngStyle]="{'background-color':legend.color}">{{legend.value}}</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-round btn-secondary pull-right" (click)="modalRef.hide()">
        Back to patient's list
      </button>
    </div>
  </div>
  <!-- </div> -->
</ng-template>