<div *ngIf = "loading">
  <i class="spinner-border spinner-border-sm text-primary"></i> Loading package info...
</div>

<div class="card" *ngIf="dataRegistration">
  <div class="card-body">
    <h1 class="text-blue font-weight-bold">{{dataRegistration.screening_plan.package_code}} - {{dataRegistration.screening_plan.single_package}}</h1>
    <!-- <img [src]="dataRegistration?.screening_plan.picture_path" width="100%"> -->
    <!-- <img [src]="photoPath + dataRegistration?.screening_plan.picture_path" (error)="setDefaultPic($event)"  width="100%"> -->
    <div class="pt-3"></div>
    <div class="row">

      <div class="col-sm-4">
        <div><span class="small">REG. NO.</span><br><b>{{dataRegistration.reg_no}}</b></div><br>
        <div><span class="small">CENTER</span><br><b>{{dataRegistration.center_code}}</b></div>
      </div>
      <div class="col-sm-4">
        <div><span class="small">DATE REGISTERED</span><br><b>{{dataRegistration.date_registered | date:'dd MMM yyyy'}}</b></div><br>
        <div><span class="small">DATE EXPIRED</span><br><b>{{dataRegistration.date_expired | date:'dd MMM yyyy'}}</b></div>
      </div>
      <div class="col-sm-4" style="border-left: 1px solid lightgray;">
        <span class="small">PATIENT(S)</span> <br>
        <div class="font-weight-bold" *ngFor="let pPatient of dataRegistration.screening_plan.package_patients">
          {{pPatient.total_patient}} x {{pPatient.patient_type_code}}
        </div> 
      </div>
    </div>
    <hr class="line-blue">
    <h2 class="text-green font-weight-bold">Details of Screening Test</h2>
    <pre>{{dataRegistration.screening_plan.test_included}}</pre>
    <!-- <table class="table table-sm ">
      <tr *ngFor="let test of dataRegistration.screening_plan.package_test_groups">
        <td>{{test.group_name}}</td>
        <td> x {{test.total_test_conducted}}</td>
      </tr>

      <tr *ngFor="let test of dataRegistration.screening_plan.package_add_ons">
        <td>{{test.add_on.name}}</td>
        <td> x {{test.total_test_conducted}}</td>
      </tr>
    </table> -->
  </div>
</div>


