<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">MY</span>&nbsp;<span class="text-green">MARKETPLACE</span>&nbsp;<i
        class="fa fa-angle-right"></i>&nbsp;COMPLETED
    </h1>
  </div>
</div>



<div class="row" *ngIf="dataBookingPayment;else noData">

  <div class="col-sm-12">

    <div class="card">
      <div class="card-body">
        <h3 class="font-weight-bold text-blue">STEP 8: COMPLETION OF BOOKING AND PAYMENT

          <img src="assets/icon/paid-icon.png" class="pull-right" width="150px">
        </h3>
        <div class="row">
          <div class="col-sm-2">
            Name:
          </div>
          <div class="col-sm-10" style="padding-bottom:10px">
            {{dataRegistration?.name}}
          </div>
          <div class="col-sm-2">
            IC No:
          </div>
          <div class="col-sm-10">
            {{dataRegistration?.ic_no}}
          </div>
        </div>
        <div class="pt-4"></div>

        You have chosen:
        <div class="pt-3"></div>


        <div class="row text2-green font-weight-bold">
          <div class="col-sm-2">
            Users to screen:
          </div>
          <div class="col-sm-10" style="padding-bottom:10px">
            <ng-container *ngFor="let patient of dataBookingPayment?.patients; let i=index">
              <div>{{i+1}}. {{patient.person.name}}</div>
            </ng-container>
          </div>
        </div>
        <div class="row text2-green font-weight-bold">
          <div class="col-sm-2">
            Venue:
          </div>
          <div class="col-sm-10" style="padding-bottom:10px">
            {{dataBookingPayment?.screening_location=='HOME'? 'Home' :
            dataBookingPayment?.screening_center.sc_name}}
          </div>
        </div>
        <div class="row text2-green font-weight-bold">
          <div class="col-sm-2">
            Date:
          </div>
          <div class="col-sm-10" style="padding-bottom:10px">
            {{dataBookingPayment?.screening_date | date : 'EEEE, dd MMMM yyyy'}}
          </div>
        </div>
        <div class="row text2-green font-weight-bold">
          <div class="col-sm-2">
            Time:
          </div>
          <div class="col-sm-10" style="padding-bottom:10px">
            {{dataBookingPayment?.screening_time}}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="pt-4"></div>
            Please find the receipt and confirmation of the transaction.
          </div>
          <div class="col-sm-12">
            <div class="pt-4"></div>
            <table class="table table-sm table-bordered">
              <thead>
                <th class="border-green" width="5%">No.</th>
                <th class="border-green">Item</th>
                <th class="border-green">Price</th>
              </thead>
              <tbody>
                <tr class="border-green" *ngFor="let product of dataBookingPayment?.products; let i=index">
                  <td class="border-green">{{i+1}}.</td>
                  <td class="border-green">{{product.quantity}} x {{product.name}}</td>
                  <td class="border-green">RM{{product.total_price | number : '1.2-2'}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan=2 class="border-green">TOTAL PAID</td>
                  <td class="border-green">RM{{totalPayment | number : '1.2-2'}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="pt-4">
        </div>
        <div class="row">
          <div class="col-sm-6">

            An email has been sent to your email with a copy of this receipt. <br>
            You can now find the booking on your main dashboard.
          </div>
          <div class="col-sm-6">
            <button class="btn btn-sm btn-round btn-primary pull-right" (click)="backToMarketplaceListing()">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<ng-template #noData>
  <div class="row">
    <div class="col-sm-12 text-center">
      <i class="fa fa-shopping-basket text-secondary" style="font-size: 30px;"></i>
      <div class="pt-3"></div>
      Booking details does not exist.
    </div>
  </div>

</ng-template>
