<div class="row">
  <h1 class="font-weight-bold">
    {{ 'marketplace.title' | translate | uppercase }} &nbsp;<i class="fa fa-angle-right"></i>&nbsp; {{ 'booking.breadcrumb.title' | translate | uppercase }}
  </h1>
</div>

<div class="pt-5"></div>

<div class="row">
  <div class="welcome-label">Hello <b>{{user.person.name.toUpperCase()}}</b></div>
</div>

<div class="pt-5"></div>
<div class="pt-3"></div>

<div class="myhc-card">
  <div class="row">

    <!-- <div class="col-sm-12">
      <p-tabView>
        <p-tabPanel header="SEARCH BY NAME">
        </p-tabPanel>
      </p-tabView>
    </div> -->
    <div class="col-sm-12">

      <!-- Step main -->

      <div class="row">
        <div class="col-sm-4" *ngIf="updateMode=='NEW'">
          <div class="card bg-light" *ngIf="!loading">
            <div class="card-body">
            <div class="font-weight-bold text-blue">
                <span style="font-size: 16px;">{{mainProduct?.name | uppercase}}</span><br>
                <span style="font-size: 14px;">CODE: {{mainProduct?.code}}</span>
              </div>
              <span class="text-blue">Price: MYR{{mainProduct?.price}}</span>
            </div>
          </div>
          <div  *ngIf="loading">Loading info..</div>
        </div>

        <div [ngClass]="{'col-sm-8':updateMode=='NEW','col-sm-12':updateMode=='update'}" [ngStyle]="{'border-left': updateMode=='NEW'?'lightgray solid 1px':'none'}">
          <h3 class="font-weight-bold text-blue" *ngIf="step==2"><span *ngIf="updateMode!='update'">STEP 2:
            </span>CHOOSE
            WHO
            TO BE SCREENED</h3>
          <h3 class="font-weight-bold text-blue" *ngIf="step==3">
            <span *ngIf="updateMode!='update'">STEP 3: CHOOSE SCREENING CENTER</span>
            <span *ngIf="updateMode=='update'">CHANGE OF SCREENING VENUE</span>
          </h3>
          <h3 class="font-weight-bold text-blue" *ngIf="step==4">
            <span *ngIf="updateMode!='update'">STEP 4: CHOOSE A DATE FOR THE SCREENING</span>
            <span *ngIf="updateMode=='update'">CHOOSE A NEW DATE FOR THE SCREENING</span>
          </h3>
          <h3 class="font-weight-bold text-blue" *ngIf="step==5">
            <span *ngIf="updateMode!='update'">STEP 5: CHOOSE A TIME FOR THE SCREENING</span>
            <span *ngIf="updateMode=='update'">CHOOSE A NEW TIME FOR THE SCREENING</span>
          </h3>
          <h3 class="font-weight-bold text-blue" *ngIf="step==6"><span *ngIf="updateMode!='update'">STEP 6:
            </span>CONFIRM
            ON BOOKING
            DETAILS</h3>
          <h3 class="font-weight-bold text-blue" *ngIf="step==7"><span *ngIf="updateMode!='update'">STEP 7:
            </span>CONFIRM
            PAYMENT DETAILS
          </h3>
          <h3 class="font-weight-bold text-blue" *ngIf="step==8">
            {{ 'booking.title_confirmationScreening' | translate | uppercase }}
            <!-- <img src="assets/icon/paid-icon.png" class="pull-right" width="120px"> -->
          </h3>
          <h3 class="font-weight-bold text-blue" *ngIf="step==9">CANCEL THE SCREENING</h3>


          <!-- MAU Acct Details -->
          <div class="row">
            <div class="col-sm-2">
              Name:
            </div>
            <div class="col-sm-10" style="padding-bottom:10px">
              {{dataRegistration?.name}}
            </div>
            <div class="col-sm-2">
              IC No:
            </div>
            <div class="col-sm-10" style="padding-bottom:10px">
              {{dataRegistration?.ic_no}}
              <br>
            </div>
            <div class="col-sm-2" *ngIf="dataBookingPayment.booking_no">
              Booking no:
            </div>
            <div class="col-sm-10"  *ngIf="dataBookingPayment.booking_no">
              {{dataBookingPayment.booking_no}}
              <br>
            </div>
          </div>

          <div class="pt-4"></div>

          <div class="small" *ngIf="loading">Loading booking details...</div>

          <div *ngIf="!loading">

            <!-- display selected info  -->
            <div *ngIf="dataBookingPayment.patients.length>0">

              <div *ngIf="updateMode!='update'" class="font-weight-bold">You have chosen:</div>
              <div *ngIf="updateMode=='update'">Your confirmed screening session is as detailed below:</div>
              <div class="pt-2"></div>
              <!-- list of selected patient -->
              <div class="row text2-green font-weight-bold">
                <div class="col-sm-3">
                  Users to screen:
                </div>
                <div class="col-sm-9" *ngIf="!dataBookingPayment.patients" style="padding-bottom:10px">
                  <ng-container *ngFor="let patient of registrationPersons; let i=index">
                    <div *ngIf="patient.checked">{{i+1}}. <span class="badge badge-success">{{patient.patient_type_code?patient.patient_type_code:''}}</span> {{patient.person.name}}</div>
                  </ng-container>
                </div>
                <div class="col-sm-9" *ngIf="dataBookingPayment.patients" style="padding-bottom:10px">
                  <ng-container *ngFor="let patient of dataBookingPayment.patients; let i=index">
                    <div>{{i+1}}. <span class="badge badge-success" *ngIf="patient.patient_type_code">{{patient.patient_type_code}}</span> {{patient.person.name}}</div>
                  </ng-container>
                </div>
              </div>

              <!-- venue -->
              <div class="row text2-green font-weight-bold">
                <div class="col-sm-3" [ngClass]="{'text-danger':isVenueHomeChanged==true}">
                  Venue: {{this.dataBookingPayment.screening_location}}
                </div>
                <div class="col-sm-9" style="padding-bottom:10px" *ngIf="updateMode=='NEW'">
                  {{(dataBookingPayment?.screening_location=='HOME' ? 'Home' :'')}}
                  {{findScreeningCenter(dataBookingPayment?.screening_center_id)?(dataBookingPayment?.screening_location=='HOME'?'('+findScreeningCenter(dataBookingPayment?.screening_center_id)+')':findScreeningCenter(dataBookingPayment?.screening_center_id)):""}}
                </div>
                <div class="col-sm-9" style="padding-bottom:10px" *ngIf="updateMode=='update'">
                  <span *ngIf="isVenueHomeChanged" class="text-danger">Home</span>
                  <span *ngIf="!isVenueHomeChanged">
                    {{dataBookingPayment?.screening_location=='HOME' ? 'Home' : ''}}
                    {{dataBookingPayment?.screening_location=='HOME' ? '('+dataBookingPayment?.screening_center.sc_name+')':dataBookingPayment?.screening_center.sc_name}}
                  </span>
                </div>
              </div>

              <!-- screening date -->
              <div class="row text2-green font-weight-bold" *ngIf="dataBookingPayment?.screening_date"
                [ngClass]="{'text2-green':(updateMode=='NEW' || (updateMode=='update'&&step!=4)),'text-red':(updateMode=='update'&&step==4)}">
                <div class="col-sm-3">
                  Date:
                </div>
                <div class="col-sm-9" style="padding-bottom:10px">
                  {{dataBookingPayment?.screening_date | date : 'EEEE, dd MMMM yyyy'}}
                </div>
              </div>

              <!-- screening time -->
              <div class="row text2-green font-weight-bold" *ngIf="dataBookingPayment?.screening_time"
                [ngClass]="{'text2-green':(updateMode=='NEW' || (updateMode=='update'&&step!=5)),'text-red':(updateMode=='update'&&step==5)}">
                <div class="col-sm-3">
                  Time:
                </div>
                <div class="col-sm-9" style="padding-bottom:10px">
                  {{dataBookingPayment?.screening_time}}
                </div>
              </div>

            </div>


            <!-- step 2: choose patients -->
            <div class="row"  *ngIf="step==2">
              <div class="col-sm-12">
                Please choose and check which of the following users in your account who will be attending the
                screening
                which you are booking for:
                <div class="pt-2"></div>
                <table class="table table-sm table-borderless text2-green">
                  <tr *ngFor="let patient of registrationPersons">
                    <td width="60%" class="font-weight-bold">
                      <span class="badge badge-success">{{patient.patient_type_code}}</span> {{patient.person.name}}
                    </td>
                    <td><input type="checkbox" class="checkbox-green" [(ngModel)]="patient.checked"
                        [value]="patient.person.name"></td>
                  </tr>

                  <tr *ngIf="registrationPersons.length>1">
                    <td colspan=2>
                      <div class="form-check">
                        <label class="form-check-label text2-green">
                          <input type="checkbox" class="form-check-input" value="all"
                            (click)="checkAllUsers($event)">Check
                          all
                        </label>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>

              <div class="col-sm-12">
                <div class="pt-4"></div>
                Click NEXT to proceed to the next step.
              </div>
              <div class="col-sm-12">
                <div style="margin-top: 30px;" class="text-right">
                  <button class="btn btn-secondary btn-sm " (click)="backToMarketPlaceListing()"><i class="fa fa-arrow-left"></i>
                    BACK TO MARKETPLACE LISTING</button>
                  <button class="btn btn-primary btn-sm " (click)="goToStepNo(3)">Next</button>
                </div>
              </div>
            </div>

            <!-- step 3: choose venue/screening center -->
            <div class="row" *ngIf="step==3">
              <div class="col-sm-12">
                <div class="pt-4"></div>
                <ng-container *ngIf="updateMode!='update'">
                  Please select a Screening Centre for your:<br>
                  a. Screening Session OR<br>
                  b. Home Visit nearest to you<br><br>
                </ng-container>
                <ng-container *ngIf="updateMode=='update'">
                  You have indicated that you wish to change the venue of the screening. Note that if you have chosen
                  a home screening,
                  you cannot change it. Please choose if you wish to change for a new venue, or a home screening:
                </ng-container>
              </div>
              <div class="col-sm-8">
                <!-- [disabled] ="dataBookingPayment.screening_location && updateMode=='update'" -->
                <select class="form-control form-control-sm" [(ngModel)]="dataBookingUpdate.screening_center_id"
                  [disabled] ="dataBookingPayment.screening_location=='HOME' && updateMode=='update'">
                  <option [value]="null">CHOOSE A SCREENING CENTER</option>
                  <option *ngFor="let center of dataScreeningCenters" [value]="center.sc_id">{{center.sc_name}},
                    {{center.sc_address}}, {{center.sc_state}}</option>
                </select>
              </div>
              <div class="col-sm-12">
                <br>
                <div class="form-check">
                  <label class="form-check-label text2-green">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="isHomeSelected"
                    [disabled] ="isVenueHomeChanged && updateMode=='update'">I
                    would
                    like to request for a home visit.
                  </label>
                </div>
              </div>
              <ng-container *ngIf="updateMode!='update'">
                <div class="col-sm-12">
                  <div class="pt-4"></div>
                  Click NEXT to proceed to the next step.
                </div>
                <div class="col-sm-12  text-right" style="margin-top: 30px;">
                  <button class="btn btn-secondary btn-sm " (click)="backToMarketPlaceListing()"><i class="fa fa-arrow-left"></i>
                    BACK TO MARKETPLACE LISTING</button>
                    <button class="btn btn-primary btn-sm " (click)="goToStepNo(2)">Previous</button>
                    <button class="btn btn-primary btn-sm " (click)="goToStepNo(4)">Next</button>
                </div>
              </ng-container>
              <ng-container *ngIf="updateMode=='update'">
                <div class="col-sm-12">
                  <div class="pt-4"></div>
                  Click CONFIRM CHANGE to confirm the change of the venue.
                </div>
                <div class="col-sm-12">
                  <div style="margin-top: 30px;" class="text-right">
                    <button class="btn btn-secondary btn-sm " (click)="goToStepNo(8)"><i class="fa fa-arrow-left"></i>
                      BACK TO CONFIRMATION OF
                      BOOKING</button>
                    <button class="btn btn-primary btn-sm " (click)="confirmVenueChange()">CONFIRM CHANGE</button>
                  </div>
                </div>
              </ng-container>

            </div>


            <!-- step 4: choose screening date -->
            <div class="row" *ngIf="step==4">
              <div class="col-sm-12" *ngIf="updateMode!='update'">
                <div class="pt-2"></div>
                Please now choose a date of for the screening. Available dates will be shown and you can choose one.
              </div>
              <div class="col-sm-12" *ngIf="updateMode=='update'">
                <div class="pt-2"></div>
                You have indicated that you wish to change the date of the screening.
              </div>
              <div class="col-sm-12">
                Available dates will be shown and you can choose one.


              </div>
              <div class="col-sm-6">
                <div style="padding-left: 10px; padding-top:10px">
                  <div class="pr-3 pb-3 pe-3 w-auto">
                    <bs-datepicker-inline [bsValue]="bsInlineValue" [bsConfig]="{dateCustomClasses: dateCustomClasses ,dateInputFormat: 'YYYY-MM-DD' }"
                      (bsValueChange)="onDayChanged($event)" [minDate]="minDate" [maxDate]="maxDate"
                      [datesDisabled]="disabledDates"></bs-datepicker-inline>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="updateMode!='update'">
                <div class="col-sm-12">
                  You can choose an available date slot as shown by <i class="fa fa-circle-o" style="color:#2108ad"></i><br>
                  Except the red color circle (if any) which indicates Public Holiday and we are closed <i class="fa fa-circle-o" style="color:#f33"></i>.
                  <div class="pt-4"></div>
                  Click NEXT to proceed to the next step.
                </div>
                <div class="col-sm-12 text-right" style="margin-top: 30px;">
                    <button class="btn btn-secondary btn-sm " (click)="backToMarketPlaceListing()"><i class="fa fa-arrow-left"></i>
                      BACK TO MARKETPLACE LISTING</button>
                    <button class="btn btn-primary btn-sm " (click)="goToStepNo(3)">Previous</button>
                    <button class="btn btn-primary btn-sm " (click)="goToStepNo(5)">Next</button>
                </div>
              </ng-container>
              <ng-container *ngIf="updateMode=='update'">
                <div class="col-sm-12">
                  <div class="pt-4"></div>
                  Click CONFIRM CHANGE to confirm the change of the date.
                </div>
                <div class="col-sm-12">
                  <div style="margin-top: 30px;" class="pull-right">
                    <button class="btn btn-secondary btn-sm " (click)="goToStepNo(8)"><i class="fa fa-arrow-left"></i>
                      BACK TO CONFIRMATION OF
                      BOOKING</button>
                    <button class="btn btn-primary btn-sm " (click)="confirmDateChange()">CONFIRM CHANGE</button>
                  </div>
                </div>
              </ng-container>
            </div>

            <!-- step 5: choose screening time -->
            <div class="row" *ngIf="step==5">
              <div class="col-sm-12">
                <div class="pt-4"></div>
                Please now choose a time of for the screening:
              </div>
              <div class="col-sm-8">
                <select class="form-control form-control-sm" [(ngModel)]="dataBookingUpdate.screening_time">
                  <option [value]="null">CHOOSE A SREENING TIME</option>
                  <option [value]="timeslot.screening_time" *ngFor="let timeslot of dataTimeslots"
                    [disabled]="!timeslot.time_available_status">{{timeslot.screening_time}}</option>
                </select>
              </div>
              <ng-container *ngIf="updateMode!='update'">
                <div class="col-sm-12">
                  <div class="pt-4"></div>
                  Click NEXT to proceed to the next step.
                </div>
                <div class="col-sm-12 text-right">
                  <button class="btn btn-secondary btn-sm " (click)="backToMarketPlaceListing()"><i class="fa fa-arrow-left"></i>
                    BACK TO MARKETPLACE LISTING</button>
                    <button class="btn btn-primary btn-sm " (click)="goToStepNo(4)">Previous</button>
                    <button class="btn btn-primary btn-sm " (click)="goToStepNo(6)">Next</button>
                </div>
              </ng-container>
              <ng-container *ngIf="updateMode=='update'">
                <div class="col-sm-12">
                  <div class="pt-4"></div>
                  Click CONFIRM CHANGE to confirm the change of the time.
                </div>
                <div class="col-sm-12">
                  <div style="margin-top: 30px;" class="pull-right">
                    <button class="btn btn-secondary btn-sm " (click)="goToStepNo(8)"><i class="fa fa-arrow-left"></i>
                      BACK TO CONFIRMATION OF
                      BOOKING</button>
                    <button class="btn btn-primary btn-sm " (click)="confirmTimeChange()">CONFIRM CHANGE</button>
                  </div>
                </div>
              </ng-container>
            </div>


            <!-- step 6: confirm booking -->
            <div class="row" *ngIf="step==6">
              <div class="col-sm-12">
                <div class="pt-4"></div>
                Please check the details of the booking.
              </div>
              <div class="col-sm-12">
                <div class="pt-4"></div>
                If they are correct, Click NEXT to proceed to the next step.
              </div>
              <div class="col-sm-12 text-right" style="margin-top: 30px;">
                <button class="btn btn-secondary btn-sm " (click)="backToMarketPlaceListing()"><i class="fa fa-arrow-left"></i>
                  BACK TO MARKETPLACE LISTING</button>
                  <button class="btn btn-primary btn-sm " (click)="goToStepNo(5)">Previous</button>
                  <button class="btn btn-primary btn-sm " (click)="goToStepNo(7)">Next</button>
              </div>
            </div>


            <!-- step 7: confirm payment -->
            <div class="row" *ngIf="step==7">
              <div class="col-sm-12">
                <div class="pt-4"></div>
                You will find below the payment summary.
              </div>
            </div>

            <!-- step 8: confirmation booking details -->
            <div class="row" *ngIf="step==8">
              <div class="col-sm-12">
                <div class="pt-4"></div>
                Please find the receipt and confirmation of the transaction.
              </div>
            </div>

            <div class="row" *ngIf="step==7 || step==8">
              <div class="col-sm-12">
                <div class="pt-4"></div>

                <table class="table table-sm table-bordered">
                  <thead>
                    <th [ngClass]="{'border-green':updateMode=='NEW'}" width="5%">No.</th>
                    <th [ngClass]="{'border-green':updateMode=='NEW'}">Item</th>
                    <th [ngClass]="{'border-green':updateMode=='NEW'}" width="25%">Price</th>
                  </thead>
                  <tbody>
                      <tr [ngClass]="{'border-green':updateMode=='NEW'}" *ngFor="let product of dataBookingPayment?.products; let i=index">
                        <td [ngClass]="{'border-green':updateMode=='NEW'}">{{i+1}}.</td>
                        <td [ngClass]="{'border-green':updateMode=='NEW'}">{{product.quantity}} x {{product.name}}</td>
                        <td [ngClass]="{'border-green':updateMode=='NEW'}">RM{{product.total_price | number : '1.2-2'}}</td>
                      </tr>

                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan=2 [ngClass]="{'border-green':updateMode=='NEW'}" class="text-right font-weight-bold">
                        <span *ngIf="updateMode=='update'">
                          TOTAL PRICE<br>
                          <span [ngClass]="{'text-danger':dataBookingPayment.total_paid!=dataBookingPayment?.total_payment}">TOTAL PAID</span>
                        </span>
                        <span *ngIf="updateMode=='NEW'" >TOTAL TO BE PAID</span>
                      </td>
                      <td [ngClass]="{'border-green':updateMode=='NEW'}" class="font-weight-bold">
                          <span *ngIf="updateMode=='update'">
                            RM{{dataBookingPayment?.total_payment | number : '1.2-2'}}<br>
                            <span [ngClass]="{'text-danger':dataBookingPayment.total_paid!=dataBookingPayment?.total_payment}">RM{{dataBookingPayment.total_paid | number : '1.2-2'}}</span>
                          </span>
                          <span *ngIf="updateMode=='NEW'">RM{{dataBookingPayment?.total_payment | number : '1.2-2'}}</span>
                      </td>
                    </tr>
                  </tfoot>
                </table>

                <div *ngIf="dataBookingUpdate?.total_payment>0">
                  <h3 *ngIf="updateMode=='update'" class="font-weight-bold text-green">NEW PAYMENT</h3>
                  <table class="table table-sm table-bordered" *ngIf="updateMode=='update'">
                    <thead>
                      <th class="border-green" width="5%">No.</th>
                      <th class="border-green">Item</th>
                      <th class="border-green" width="25%">Price</th>
                    </thead>
                    <tbody>
                        <tr class="border-green" *ngFor="let product of dataBookingUpdate?.products; let i=index" >
                          <td class="border-green">{{i+1}}.</td>
                          <td class="border-green">{{product.quantity}} x {{product.name}}</td>
                          <td class="border-green">RM{{product.total_price | number : '1.2-2'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan=2 class="border-green text-right font-weight-bold">TOTAL TO BE PAID</td>
                        <td class="border-green font-weight-bold">
                            RM{{dataBookingUpdate?.total_payment | number : '1.2-2'}}
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>

              </div>
            </div>
            <div class="row" *ngIf="step==7">
              <div class="col-sm-12" *ngIf="updateMode=='NEW'">
                <div class="pt-4"></div>
                Please confirm the details of the booking and payment.<br>
                If they are correct, click <b>NEXT</b>. You will be brought to the payment gateway page.
              </div>
              <div class="col-sm-12" *ngIf="updateMode=='update'">
                <div class="pt-4"></div>
                Please confirm the details of the change to the booking and payment.<br>
                If they are correct, click <b>NEXT</b>. You will be brought to the payment gateway page.
              </div>
              <div class="col-sm-12 text-right" *ngIf="!paymentProcessing&&updateMode=='NEW'" style="margin-top: 30px;">
                <button class="btn btn-secondary btn-sm " (click)="backToMarketPlaceListing()"><i class="fa fa-arrow-left"></i>
                  BACK TO MARKETPLACE LISTING</button>
                  <button class="btn btn-primary btn-sm " (click)="goToStepNo(6)">Previous</button>
                  <button class="btn btn-primary btn-sm " (click)="nextNewPayment()">Next</button>
                  <br><br>
              </div>
              <div class="col-sm-12 text-right" *ngIf="!paymentProcessing&&updateMode=='update'" style="margin-top: 30px;">
                <button type="button" class="btn myhc-btn-fill pull-right" (click)="backToMyDashboard()"><i class="fa fa-arrow-left"></i>{{ 'booking.button.title_backToDashboard' | translate | uppercase }}</button>
                <button class="btn btn-primary btn-sm " (click)="nextChargePayment()">Next</button>
                <br><br>
              </div>

              <form ngNoForm
                [action]="serverhost + '/myhc-api/v1/ipay88/request.php'"
                method='POST'  target="_self"
                #iPay88Form>
                  <input name='PaymentId' type='hidden' [value]='dataPay88.PaymentId' >
                  <input name='RefNo' type='hidden' [value]='dataPay88.RefNo'  >
                  <input name='Amount' type='hidden' [value]='dataPay88.Amount' >
                  <input name='Currency' type='hidden' [value]='dataPay88.Currency'  >
                  <input name='ProdDesc' type='hidden' [value]='dataPay88.ProdDesc'  >
                  <input name='UserName' type='hidden' [value]='dataPay88.UserName' >
                  <input name='UserEmail' type='hidden' [value]='dataPay88.UserEmail'  >
                  <input name='UserContact' type='hidden' [value]='dataPay88.UserContact' >
                  <input name='Remark' type='hidden' [value]='dataPay88.Remark'  >
              </form>

              <div class="col-sm-12 text-right text-primary" *ngIf="paymentProcessing">
                <div class="pt-3"></div>
                <i class="spinner-border spinner-border-sm text-primary"></i> Please do not close this window while redirecting you to payment gateway...
              </div>
            </div>
            <div class="row" *ngIf="step==8">
              <div class="col-sm-12">
                An email has been sent to your email with a copy of this receipt.
                You can now find the booking on your main dashboard.
              </div>

              <div class="col-sm-12">
                <div class="pt-2"></div>

                All changes and cancellation can be done with no forfeit of payment made if changes made <b>3-days</b> before the booked screening.
                <div class="pt-2"></div>
                You can now decide what to do with this booking by choosing any of the options below.
                <div class="pt-2"></div>
              </div>
              <div class="col-sm-12 text-right">
                <button type="button" class="btn myhc-btn-fill pull-right" (click)="backToMyDashboard()"><i class="fa fa-arrow-left"></i>{{ 'booking.button.title_backToDashboard' | translate | uppercase }}</button>
                <button class="btn btn-sm btn-primary"  (click)="changeVenue()" *ngIf="dataBookingPayment?.screening_location!='HOME' && isDateMore72Hours">CHANGE VENUE</button>
                <button class="btn btn-sm btn-primary" (click)="changeDate()" *ngIf="isDateMore72Hours">CHANGE DATE</button>
                <button class="btn btn-sm btn-primary" (click)="changeTime()" *ngIf="isDateMore72Hours">CHANGE TIME</button>
                <button class="btn btn-sm btn-primary" (click)="goToStepNo(9)" *ngIf="isDateMore72Hours">CANCEL BOOKING</button>
              </div>
            </div>


            <!-- step 9: delete booking -->
            <div class="row" *ngIf="step==9">
              <div class="col-sm-12">
                Your have indicated that you wish to delete this booking. For all bookings to be deleted, a refund is
                only
                applicable if the
                cancellation is done at least <span class="text-red font-weight-bold">SEVENTY-TWO (72) HOURS</span> or
                three days before the date and time of the booked
                screening.
                <div class="pt-2"></div>
                If you decide to proceed, please click on the button below.
                <div class="pt-2"></div>
                The Admin will be in touch with you within twenty-four (24) hours to confirm the cancellation by both
                SMS
                and Email Subject
                to the terms and conditions of the booking. The listing on your dashboard will then change to show
                that
                the booking has
                been cancelled.
                <div class="pt-2"></div>
                Once approved, the refund will be made within seven (7) days to your bank account / credit card /
                e-wallet
                of which the original
                payment was made from.
              </div>
              <div class="col-sm-12 text-right">
                <div class="pt-3"></div>
                <button class="btn btn-secondary btn-sm " (click)="goToStepNo(8)"><i class="fa fa-arrow-left"></i>
                  BACK TO CONFIRMATION OF
                  BOOKING</button>
                <button class="btn btn-sm btn-primary" (click)="cancelBooking()">CONFIRM CHANGE</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
