






  
  <div class="row">
    <h1 class="font-weight-bold">
      {{ "auditrail.title_auditrail" | translate }}  {{'auditrail.logs' | translate }}
    </h1>
  </div>
  <div class="pt-3"></div>



  <div class="row">
   &nbsp;
  </div>

  <div class="pt-5"></div>


  <div class="pt-5"></div>
  <div class="pt-3"></div>





  <div class="myhc-card" style="padding-top:10px; width:100%">
    <div class="card-body">
     
      <span class="myhc-card-title"><b>{{'auditrail.search_auditrail' | translate }} </b></span>

      
    
    

      <div *ngIf="loading">
        <i class="spinner-border spinner-border-sm text-primary"></i> Loading data...
        <div class="pt-3"></div>
      </div>


      <p-table #dt [value]="dataAuditrail" [responsive]="true" [paginator]="true" [rows]="10"
        [globalFilterFields]="['strModuleNamePathTblName','intAction','intRecordId','strAddedByEmail']" *ngIf="!loading">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            <br>
            <span class="small">* Search keywords</span>
          </div>

        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th width="6%">No.</th>
            <th>{{'auditrail.module_path_table' | translate}} </th>
            <th>Action</th>
            <th>Record Id</th>
            <th>Action By Email</th>
            <!-- <th>Status</th> -->
            <th>Create Date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataAuditrail let-rowIndex="rowIndex">
          <tr>
            <td width="5%" style="vertical-align:top">
              <div class="ui-column-title text-green">#</div>
              <div>{{rowIndex+1}}</div>
            </td>
            <td style="vertical-align:top" width="35%">
              {{dataAuditrail?.strModuleNamePathTblName}}
            </td>
            <td style="vertical-align:top">
              {{auditrailMode[dataAuditrail?.intAction]}}
            </td>
            <td style="vertical-align:top">
              {{dataAuditrail?.intRecordId}}
            </td>
            <td style="vertical-align:top">
              {{dataAuditrail?.strAddedByEmail}}
            </td>
            <!-- <td style="vertical-align:top">
              {{dataAuditrail?.status}}
            </td> -->
            <td style="vertical-align:top">
              {{dataAuditrail?.CreateDate}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          {{dataAuditrail?.length}} total records
        </ng-template>
      </p-table>

    </div>
  </div>
