<div class="row">
    <h1 class="font-weight-bold">
      {{ 'booking.breadcrumb.title' | translate | uppercase }}
    </h1>
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-text">{{ 'booking.breadcrumb.text' | translate }}</div>
      </div>
    </div>
</div>

<div class="pt-5"></div>

<div class="row">
    <div class="welcome-label">Hello <b>{{user.person.name.toUpperCase()}}</b></div>
</div>

<button type="button" class="btn myhc-btn-fill pull-right" [routerLink]="['../my-booking-add']"><i class="fa fa-plus"></i>{{ 'booking.button.title_bookNewTest' | translate | uppercase }}</button>
<div class="pt-3"></div>
<span class="myhc-card-title">
  <b>{{ 'booking.title_upcoming' | translate | uppercase }}</b>
</span>

<div class="pt-3"></div>

<div class="myhc-card">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{ 'booking.table.title_date' | translate | uppercase }}</th>
            <th>{{ 'booking.table.title_time' | translate | uppercase }}</th>
            <th>{{ 'booking.table.title_member' | translate | uppercase }}</th>
            <th>{{ 'booking.table.title_screening' | translate | uppercase }}</th>
            <th>{{ 'booking.table.title_venue' | translate | uppercase }}</th>
            <th>{{ 'booking.table.title_status' | translate | uppercase }}</th>
            <th>{{ 'booking.table.title_action' | translate | uppercase }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of dataBookings">
            <td>{{ booking.screening_date }}</td>
            <td>{{ booking.screening_time }}</td>
            <td>{{ booking.patients.length }}</td>
            <td>
              <ul *ngFor="let product of booking.products">
                <li>{{ product.name }}</li>
              </ul>
            </td>
            <td>{{ booking.screening_location }}</td>
            <td>{{ booking.status }}</td>
            <td>
              <ul class="">
                <li class="dropdown">
                  <div ngbDropdown class="d-inline-block">
                    <a href="javascript:void(0);" role="button" ngbDropdownToggle>
                      <i class="fa fa-edit"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                      <ul >
                        <li class="myhc-table-dropdown-list">
                          <span (click)="viewBookingDetails(booking.booking_no)">View Booking</span>
                        </li>
                        <li class="myhc-table-dropdown-list">
                          <span (click)="viewBookingDetails(booking.booking_no)">Edit</span>
                        </li>
                        <li class="myhc-table-dropdown-list">
                            <span (click)="viewBookingDetails(booking.booking_no)">View QR Code</span>
                        </li>
                      </ul>
                    </div>
                </div>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="pt-3"></div>

<span class="myhc-card-title">
  <div class="social">
    <div class="row">
      <span class="myhc-card-title" style="margin-left: 20px;"><b>{{ 'booking.title_previous' | translate | uppercase }}</b></span>

        <div class="table-search">
          <input type="text" class="table-round" [(ngModel)]="keyword"/>
          <button class="table-corner" (click)="searchBooking()"></button>
        </div>
    </div>
  </div>

</span>

<div class="pt-3"></div>

<div class="myhc-card">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{ 'booking.table.title_date' | translate | uppercase }}</th>
            <th>{{ 'booking.table.title_time' | translate | uppercase }}</th>
            <th>{{ 'booking.table.title_member' | translate | uppercase }}</th>
            <th>{{ 'booking.table.title_screening' | translate | uppercase }}</th>
            <th>{{ 'booking.table.title_venue' | translate | uppercase }}</th>
            <th>{{ 'booking.table.title_status' | translate | uppercase }}</th>
            <th>{{ 'booking.table.title_action' | translate | uppercase }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let previousBooking of dataPreviousBooking">
            <td>{{ previousBooking.screening_date }}</td>
            <td>{{ previousBooking.screening_time }}</td>
            <td>{{ previousBooking.patients.length }}</td>
            <td>
              <ul *ngFor="let product of previousBooking.products">
                <li>{{ product.name }}</li>
              </ul>
            </td>
            <td>{{ previousBooking.screening_location }}</td>
            <td>{{ previousBooking.status }}</td>
            <td>
              <ng-container *ngFor="let payment of previousBooking.payments">
                <span style="margin-bottom: 1px; cursor: pointer;" (click)="viewBookingDetails(previousBooking.booking_no)">{{ 'booking.table.title_view' | translate  }}</span><br />
                <span style="margin-bottom: 1px; cursor: pointer;" (click)="printReceipt(payment)">{{ 'booking.table.title_download' | translate  }}</span>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
