<div class="row">
  <h1 class="font-weight-bold">
    {{ "my-account.title" | translate | uppercase }}
  </h1>
</div>


<div class="pt-3"></div>

<div class="row" style="width: 60%; margin-left: auto; margin-right: auto;">
  <div class="col-md-12">

    <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1" title="Simple">
        <ng-template ngbPanelHeader let-opened="opened">
            <button ngbPanelToggle class="accordion-button"><span class="accrodion-panel-title">{{ "my-account.accordion.accountInfo.accordion_title" | translate | uppercase }}</span></button>
        </ng-template>
        <ng-template ngbPanelContent>
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let patient of dataPatients; let i = index" class="slide">

              <span *ngIf="qrActive == i">
                <img class="slick-slider-img" src="photoPath + reg.person.photo_path" (error)="setDefaultPic($event)" alt="" width="195px" height="195px" (click)="showProfile(i)">
              </span>
              <span *ngIf="qrActive != i">
                <img class="slick-slider-img" src="photoPath + reg.person.photo_path" (error)="setDefaultPic($event)" alt="" width="190px" height="190px" (click)="showProfile(i)">
              </span>

              <p style="text-align: center; padding-top:10px;">{{patient.person.name}}</p>
            </div>

          </ngx-slick-carousel>

          <div class="card-body text-center">

            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td style="text-align: left;">{{ "my-account.accordion.accountInfo.title_nric" | translate | uppercase }}</td>
                  <td style="text-align: left;">: {{selectedPatientData.ic_no }}</td>
                </tr>
                <tr>
                  <td style="text-align: left;">{{ "my-account.accordion.accountInfo.title_myhc" | translate | uppercase }}</td>
                  <td style="text-align: left;">: {{selectedPatientData.reg_no}}</td>
                </tr>
                <tr>
                  <td style="text-align: left;">{{ "my-account.accordion.accountInfo.title_accountType" | translate | uppercase }}</td>
                  <td style="text-align: left;">: {{selectedPatientData.admin_type}}</td>
                </tr>
                <tr>
                  <td style="text-align: left;">{{ "my-account.accordion.accountInfo.title_dob" | translate | uppercase }}</td>
                  <td style="text-align: left;">: {{selectedPatientData.person.date_of_birth}}</td>
                </tr>
                <tr>
                  <td style="text-align: left;">{{ "my-account.accordion.accountInfo.title_mobile" | translate | uppercase }}.</td>
                  <td style="text-align: left;">: +60{{selectedPatientData.person.mobile_no}}</td>
                </tr>
                <tr>
                  <td style="text-align: left;">{{ "my-account.accordion.accountInfo.title_email" | translate | uppercase }}</td>
                  <td style="text-align: left;">: {{selectedPatientData.person.email}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="static-2" title="Simple">
        <ng-template ngbPanelHeader let-opened="opened">
            <button ngbPanelToggle class="accordion-button"><span class="accrodion-panel-title">{{ "my-account.accordion.patientReg.accordion_title" | translate | uppercase }}</span></button>
        </ng-template>
        <ng-template ngbPanelContent>

          <div>
            <button class="btn myhc-btn-fill pull-right" [tooltip]="'Add more ' + staffPatient" (click)="newPatient(tmpInputPatientInfo)"  *ngIf="totalPatient>dataPatients.length && (dataRegistration.status=='PRE-ACCOUNT' || auth.account.acc_type_code=='ADMIN')"><i class="fa fa-plus"></i></button>
            <div class="small"
              *ngIf="!(dataRegistration.screening_plan.category_code == 'CORPORATE' && user.user_account?.acc_type_code=='STAFF')">
              Note:
              Please include {{addRegPersonNote}}</div>
            <table class="table table-sm table-striped small" width="100%" *ngIf="dataPatients?.length>0; else tmpNoPatients">
              <thead>
                <th width="5%"></th>
                <th>{{ 'my-account.accordion.accountInfo.title_name' | translate }} / {{ 'my-account.accordion.accountInfo.title_nric' | translate }}</th>
                <th width="20%">{{ 'my-account.accordion.accountInfo.title_account' | translate }}</th>
                <th width="30%">{{ 'my-account.accordion.accountInfo.title_support' | translate }}</th>
                <th width="30%">{{ 'my-account.accordion.accountInfo.title_action' | translate }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let reg of dataPatients; let i=index">
                  <td>
                <img [src]="photoPath + reg.person.photo_path" (error)="setDefaultPic($event)" width="25px">
                  </td>
                  <td>
                      <div class="d-inline-flex "  >
                        <div class="p-0"  >{{i+1}}.&nbsp;</div>
                        <div class="p-0"  >
                          <div>
                            <b>{{reg.person.name}}</b>
                            <span *ngIf="reg.person.relationship">({{reg.person.relationship}})</span>
                          </div>
                          {{reg.person.ic_no}}
                        </div>
                      </div>
                  </td>
                  <td>
                    <div *ngIf="reg.user_account" class="font-weight-bold">{{reg.user_account.username}}
                      <button class="btn btn-sm text-primary" tooltip="Reset password" (click)="resetPassword(reg)"
                        *ngIf="auth.account.acc_type_code=='ADMIN'"><i class="fa fa-key"></i></button>
                    </div>
                    <span *ngIf="reg.user_account?.acc_type_code!='MAU'">{{reg.patient_type_code}}</span>
                    <span *ngIf="!reg.patient_type_code&&reg.admin_type!='MAU'" class="small"><i>Not updated</i><br></span>
                    <span class="badge badge-danger" *ngIf="reg.user_account?.acc_type_code=='MAU'">MAU</span>
                    <span><br>{{reg.person_type_code}}</span>

                  </td>
                  <td>
                    <i class="small" *ngIf="reg.person.documents.length==0">{{ "my-account.accordion.accountInfo.title_noUpload" | translate }}</i>
                    <div *ngFor="let doc of reg.person.documents" class="small">
                      <button class="btn btn-sm text-primary" [tooltip]="'View Print ' + doc.document_code.toUpperCase()"
                        (click)="printDoc(doc.filename)"><i class="fa fa-print"></i></button>
                      {{doc.ori_filename}}
                    </div>
                  </td>
                  <td>
                    <i [tooltip]="'Edit details for '+ reg.person.name" (click)="editPatient(tmpInputPatientInfo,reg.person)" class="fa fa-pencil mr-3"></i>
                    <i [tooltip]="'Remove details for ' + reg.person.name" (click)="removeRegPerson(reg)" class="fa fa-trash mr-3"></i>
                    <i [tooltip]="'Upload document for ' + reg.person.name" (click)="uploadDoc(tmpUploadDoc,reg)" class="fa fa-cloud-upload" style="font-size: 14px;"></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <ng-template #tmpNoPatients>
              <div class="pt-3"></div>
              <div class="text-muted"><i class="fa fa-exclamation-circle"></i> <i>{{ "my-account.accordion.accountInfo.title_noRecord" | translate }}</i></div>
            </ng-template>

            <button class="btn myhc-btn-fill" *ngIf="dataPatients?.length>0&&dataRegistration.status=='PRE-ACCOUNT'" (click)="completeMyRegistration()">{{ "my-account.accordion.accountInfo.button.title_submitApplication" | translate }}</button>

            <!-- <button (click)="verifyPatientType()">verifyPatientType</button>  -->

            <div class="pt-2"></div>
            <!-- [disabled]="dataRegistration.screening_plan.package_patients.length!=dataPatients.length && !dataRegistration.company.co_reg_no" -->

          </div>

        </ng-template>
      </ngb-panel>

      <ngb-panel id="static-3" title="Simple">
        <ng-template ngbPanelHeader let-opened="opened">
            <button ngbPanelToggle class="accordion-button"><span class="accrodion-panel-title">{{ "my-account.accordion.dataSharing.accordion_title" | translate | uppercase }}</span></button>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="myhc-card-title">{{ "my-account.accordion.dataSharing.accordion_desc" | translate }}</div>
          <div class="pt-3"></div>
          <div class="card" >
            <div class="card-body" >
              <div class="row" >
                <div class="col-9" >
                  <p class="font-weight-bold " >{{ "my-account.accordion.dataSharing.title_newsletter" | translate }}</p>
                </div>
                <div class="col-3" >
                  <p *ngIf="dataSharing.bmz_updates">{{ "my-account.accordion.dataSharing.title_yes"  | translate}} </p>
                  <p *ngIf="!dataSharing.bmz_updates">{{"my-account.accordion.dataSharing.title_no" | translate }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="card-body" >
              <div class="row" >
                <div class="col-9" >
                  <p class="font-weight-bold " >{{ "my-account.accordion.dataSharing.title_marketing" | translate }}</p>
                </div>
                <div class="col-3" >
                  <p *ngIf="dataSharing.partner_updates">{{ "my-account.accordion.dataSharing.title_yes"  | translate}} </p>
                  <p *ngIf="!dataSharing.partner_updates">{{"my-account.accordion.dataSharing.title_no" | translate }}</p>
                </div>
              </div>
            </div>
          </div>

        </ng-template>
      </ngb-panel>

      <ngb-panel id="static-4" title="Simple">
        <ng-template ngbPanelHeader let-opened="opened">
            <button ngbPanelToggle class="accordion-button"><span class="accrodion-panel-title">{{ "my-account.accordion.changePassword.accordion_title" | translate | uppercase }}</span></button>
        </ng-template>
        <ng-template ngbPanelContent>
          {{ "my-account.accordion.changePassword.accordion_desc" | translate }}
          <div class="pt-3"></div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{ "my-account.accordion.changePassword.title_currentPassword" | translate }}</label>
                <input type="password" class="form-control" [(ngModel)]="cpass" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{ "my-account.accordion.changePassword.title_newPassword" | translate }}</label>
                <input type="password" class="form-control" [(ngModel)]="npass" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{ "my-account.accordion.changePassword.title_retypePassword" | translate }}</label>
                <input type="password" class="form-control" [(ngModel)]="rpass">
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button type="button" class="btn myhc-btn-fill pull-right" (click)="changePassword()">{{ "my-account.accordion.changePassword.title_confirm" | translate }}</button>
          </div>

          <div class="pt-3"></div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

  </div>
</div>

<ng-template #tmpInputPatientInfo let-modal>
  <div class="modal-content">

    <div class="modal-header bg-medium-green">
      {{mode}} {{dataForm.get('name').value | uppercase}} {{ "my-account.accordion.accountInfo.title_info" | translate | uppercase }}
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>

    <div class="modal-body bg-light-green">
      <div [formGroup]="dataForm" *ngIf="dataForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">{{ "my-account.accordion.accountInfo.title_name" | translate }}</label>
                      <input type="text" class="form-control" placeholder="Enter name" id="name" formControlName="name">
                      <div *ngIf="isSubmitted && dataForm.get('name').invalid" class="field-validation-error small">
                        <div class="text-danger">{{ "my-account.accordion.accountInfo.validator.required_name" | translate }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="gender">{{ "my-account.accordion.accountInfo.title_gender" | translate }}</label>
                      <select formControlName="gender" class="form-control">
                        <option [value]="null">{{ "my-account.accordion.accountInfo.title_choose" | translate }}</option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                      </select>
                      <div *ngIf="isSubmitted && dataForm.get('gender').invalid" class="field-validation-error small">
                        <div class="text-danger">{{ "my-account.accordion.accountInfo.validator.required_gender" | translate }}</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="ic_no">{{ "my-account.accordion.accountInfo.title_nric" | translate }}</label>
                      <div *ngIf="mode=='EDIT'" class="font-weight-bold">{{dataForm.get('ic_no').value}}</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="email">{{ "my-account.accordion.accountInfo.title_email" | translate }}</label>
                      <div *ngIf="mode=='EDIT'" class="font-weight-bold">{{dataForm.get('email').value}}</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="checkbox" formControlName="citizen" [(ngModel)]="citizen"> &nbsp; {{ 'my-account.accordion.accountInfo.title_citizen' | translate}}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="race">{{ "my-account.accordion.accountInfo.title_race" | translate }}</label>
                      <input type="text" class="form-control mr-sm-2 " formControlName="race">
                      <div *ngIf="isSubmitted && dataForm.get('race').invalid" class="field-validation-error small">
                        <div class="text-danger">{{ "my-account.accordion.accountInfo.validator.required_race" | translate }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="religion">{{ "my-account.accordion.accountInfo.title_religion" | translate }}</label>
                      <input type="text" class="form-control mr-sm-2 " formControlName="religion">
                      <div *ngIf="isSubmitted && dataForm.get('religion').invalid" class="field-validation-error small">
                        <div class="text-danger">{{ "my-account.accordion.accountInfo.validator.required_religion" | translate }}</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="mobile_no">{{ "my-account.accordion.accountInfo.title_mobile" | translate }}</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend ">
                        <span class="input-group-text bg-white text-dark">+60</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Enter Mobile No" id="mobile_no" maxlength="15"
                        formControlName="mobile_no">
                    </div>
                    <div *ngIf="isSubmitted && dataForm.get('mobile_no').invalid" class="field-validation-error small">
                      <div class="text-danger">{{ "my-account.accordion.accountInfo.validator.required_mobile" | translate }}</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="age">{{ "my-account.accordion.accountInfo.title_age" | translate }}</label>
                      <input type="number" class="form-control mr-sm-2 " placeholder="Enter age" id="age"
                        formControlName="age">
                      <div *ngIf="isSubmitted && dataForm.get('age').invalid" class="field-validation-error small">
                        <div class="text-danger">{{ "my-account.accordion.accountInfo.validator.required_age" | translate }}</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">{{ "my-account.accordion.accountInfo.title_dob" | translate }}</label>
                      <p-calendar formControlName="dob" dateFormat="yy-mm-dd"></p-calendar>
                      <div *ngIf="isSubmitted && dataForm.get('dob').invalid" class="field-validation-error small">
                        <div class="text-danger">{{ "my-account.accordion.accountInfo.validator.required_dob" | translate }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="marital">{{ "my-account.accordion.accountInfo.title_marital" | translate }}</label>
                      <select formControlName="marital" class="form-control">
                        <option value="single">{{ 'my-account.accordion.accountInfo.title_single' | translate }}</option>
                        <option value="married">{{ 'my-account.accordion.accountInfo.title_married' | translate }}</option>
                        <option value="widow">{{ 'my-account.accordion.accountInfo.title_widow' | translate }}</option>
                        <option value="widower">{{ 'my-account.accordion.accountInfo.title_widower' | translate }}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group" *ngIf="this.dataRegistration.screening_plan.category_code == 'FAMILY' || this.dataRegistration.screening_plan.category_code == 'DEPENDENT'">
                    <label for="email">{{ "my-account.accordion.accountInfo.title_relationship" | translate }}</label>
                    <select class="form-control" formControlName="relationship">
                      <option [value]="null">{{ "my-account.accordion.accountInfo.title_choose" | translate }}</option>
                      <option [value]="rel.code" *ngFor="let rel of relationships">{{rel.code}}</option>
                    </select>
                    <div *ngIf="isSubmitted && dataForm.get('relationship').invalid" class="field-validation-error small">
                      <div class="text-danger">{{ "my-account.accordion.accountInfo.validator.required_relationship" | translate }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6" style="border-left: solid 1px lightgray;">
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="address">{{ "my-account.accordion.accountInfo.title_address" | translate }}</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter Address" id="address"
                  formControlName="address">
                <div *ngIf="isSubmitted && dataForm.get('address').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ "my-account.accordion.accountInfo.validator.required_address" | translate }}</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="town">{{ "my-account.accordion.accountInfo.title_town" | translate }}</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter town" id="town"
                  formControlName="town">
                <div *ngIf="isSubmitted && dataForm.get('town').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ "my-account.accordion.accountInfo.validator.required_town" | translate }}</div>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label for="postcode">{{ "my-account.accordion.accountInfo.title_postcode" | translate }}</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter Postcode" id="postcode" maxlength="6" formControlName="postcode" (change)="getSelectedCity($event.target.value)">
                <div *ngIf="isSubmitted && dataForm.get('postcode').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ "my-account.accordion.accountInfo.validator.required_postcode" | translate }}</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="district">{{ "my-account.accordion.accountInfo.title_district" | translate }}</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter District" id="district" formControlName="district" [(ngModel)]="selectedCity">
                <div *ngIf="isSubmitted && dataForm.get('district').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ "my-account.accordion.accountInfo.validator.required_district" | translate }}</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="state">{{ "my-account.accordion.accountInfo.title_state" | translate }}</label>
                <select class="form-control" formControlName="state">
                  <option [value]="null">{{ "my-account.accordion.accountInfo.title_choose" | translate }}</option>
                  <option [value]="state.state_name" *ngFor="let state of states">{{state.state_name}}</option>
                </select>
                <div *ngIf="isSubmitted && dataForm.get('state').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ "my-account.accordion.accountInfo.validator.required_state" | translate }}</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="modal-footer bg-light-green">
      <button type="button" class="btn myhc-btn-fill" (click)="savePatient()">
        {{ 'my-account.accordion.accountInfo.button.title_save' | translate }}
      </button>
      <button type="button" class="btn myhc-btn-danger-fill" (click)="modalRef.hide()"
        style="margin-left: 5px;"> {{ 'my-account.accordion.accountInfo.button.title_cancel' | translate }}
      </button>
    </div>

  </div>
</ng-template>

<ng-template #tmpNoPatients>
  <div class="pt-3"></div>
  <div class="text-muted"><i class="fa fa-exclamation-circle"></i> <i>{{ 'my-account.accordion.accountInfo.title_noRecord' | translate }}</i></div>
</ng-template>

<ng-template #tmpUploadDoc let-modal>
  <div class="modal-content">
    <div class="modal-header bg-medium-green">
      {{ 'my-account.accordion.accountInfo.uploadDocument.title' | translate | uppercase }}
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body bg-light-green">
      <div class="row">
        <div class="col-sm-3">

          <img [src]="photoPath + selectedRegPerson.person.photo_path" (error)="setDefaultPic($event)" width="80px">

          <p-fileUpload [files]="tmpPhotoFile" #pPhoto mode="basic" name="photo[]" [customUpload]="true"
            (uploadHandler)="uploadPhotoNow($event,pPhoto)" accept="image/*" maxFileSize="1000000" [auto]="true"
            chooseLabel="Browse"></p-fileUpload>
        </div>
        <div class="col-sm-5">
          <label class="small">{{ 'my-account.accordion.accountInfo.title_name' | translate }}</label>
          <div class="font-weight-bold">{{selectedRegPerson.person.name}}</div>
        </div>
        <div class="col-sm-4">
          <label class="small">{{ 'my-account.accordion.accountInfo.title_nric' | translate }}</label>
          <div class="font-weight-bold">{{selectedRegPerson.person.ic_no}}</div>
        </div>
      </div>
      <span class="small">{{ 'my-account.accordion.accountInfo.title_photo' | translate }}: {{selectedRegPerson.person.photo_path?selectedRegPerson.person.photo_path:'Not available'}}</span>
      <hr class="line-blue">
      <!-- <h4 class="font-weight-bold">Supporting document(s)</h4> -->
      <div class="small">
        {{ 'my-account.accordion.accountInfo.title_remark' | translate }}
        <div class="pt-3"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <b>{{ 'my-account.accordion.accountInfo.title_listUpload' | translate }}:</b>
          <ul>
            <ng-container *ngFor="let file of selectedRegPerson.person.documents">
              <li *ngIf="file.document_code!='photo'">
                <button class="btn btn-sm text-primary" [tooltip]="'View Print ' + file.filename"
                  (click)="printDoc(file.filename)"><i class="fa fa-print"></i></button>
                <button class="btn btn-sm text-danger" (click)="removeFile(file)"
                  [tooltip]="'Remove ' + file.filename"><i class="fa fa-trash"></i></button>
                {{file.ori_filename}}
              </li>
            </ng-container>
            <li *ngIf="selectedRegPerson.person.documents.length==0">
              <i>{{ 'my-account.accordion.accountInfo.title_noUpload' | translate }}</i>
            </li>
          </ul>
        </div>
        <div class="col-sm-12">
          <hr>
        </div>
        <div class="col-sm-12">
          <b>{{ 'my-account.accordion.accountInfo.title_upload' | translate }}:</b>
          <p-fileUpload #pfileUpload name="files[]" [customUpload]="true"
            (uploadHandler)="uploadDocNow($event,pfileUpload)" (onUpload)="onUpload($event)" multiple="multiple"
            [showCancelButton]="false" accept="image/*,.pdf" maxFileSize="3072000">
            <!-- <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
              </ul>
            </ng-template> -->
          </p-fileUpload>
        </div>

        <!-- <div class="col-sm-12" *ngFor="let doc of docUploadList; let i=index; let last=last">
          <div><b>{{i+1}}. {{doc.name}}</b> <br>
            <span class="small" [innerHTML]="doc.note" *ngIf="doc.note"></span>
          </div>
          <input type="file" class="form-control-file border" (change)="uploadDocNow($event.target.files,doc.code)">
          <div class="small text-danger" *ngIf="doc.uploaded?.length==0"><i>No file uploaded. </i></div>
          <div *ngIf="doc.uploaded?.length>0" class="small text-primary font-weight-bold">
            <span *ngFor="let udoc of doc.uploaded">
              <button class="btn btn-sm text-primary" tooltip="Remove this file" (click)="removeFile(udoc)"><i
                  class="fa fa-trash"></i>
              </button> Uploaded:
              {{udoc.ori_filename}}</span>
          </div>
          <hr *ngIf="!last">
        </div> -->
      </div>

      <div class="pull-right">
        <div class="pt-3"></div>
        <span *ngIf="uploading">
          <i class="spinner-border spinner-border-sm text-primary "></i> {{ 'my-account.accordion.accountInfo.title_uploading' | translate }}...
        </span>
        <button type="button" class="btn myhc-btn-danger-fill" (click)="modalRef.hide()"
          style="margin-left: 5px;"> {{ 'my-account.accordion.accountInfo.button.title_close' | translate }}</button>

      </div>


    </div>
  </div>
</ng-template>
