<div class="pcoded" [attr.nav-type]="navType" [attr.theme-layout]="themeLayout" [attr.layout-type]="layoutType"
  [attr.vertical-placement]="verticalPlacement" [attr.vertical-layout]="verticalLayout"
  [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType"
  [attr.vertical-effect]="verticalEffect" [attr.vnavigation-view]="vNavigationView" (window:resize)="onResize($event)">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" [attr.pcoded-header-position]="pcodedHeaderPosition"
      [attr.header-theme]="headerTheme">
      <div class="navbar-wrapper">
        <div class="navbar-logo" [attr.logo-theme]="logoTheme" style="background-color: #ffff;">
          <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()"
            [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
            <i class="ti-menu"></i>
          </a>
          <a [routerLink]="['/']">
            <img class="img-fluid" src="assets/images/logo-myhc.png" alt="MyHealth" width="150" />
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container" >
          <div >
            <ul class="nav-left"  >
              <li>
                <div class="sidebar_toggle"><a href="javascript:;" (click)="toggleOpened()"><i
                      class="ti-menu f-18"></i></a></div>
              </li>
            </ul>
            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile" >
              <li class="header-notification">
                <i class="fa fa-circle text-green"></i> 
                <!-- <a [routerLink]="['/']" target="_self" ><span class="text-blue-bold">LOGOUT</span></a> -->
                <a  target="_self" [routerLink]="['/']" (click)="logout()"><span class="text-blue-bold">LOGOUT</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="pcoded-main-container" [style.margin-top]="headerFixedMargin">
      <!-- <div class="container" [style.margin-top]="headerFixedMargin">  -->
      <!-- <div class="pcoded-wrapper"> -->
        <!-- <nav id="main_navbar" class="pcoded-navbar " (clickOutside)="onClickedOutside($event)"
          [exclude]="'#mobile-collapse'" [attr.pcoded-header-position]="pcodedHeaderPosition"
          [attr.navbar-theme]="navBarTheme" [attr.active-item-theme]="activeItemTheme" sub-item-theme="theme2"
          active-item-style="style0" [attr.pcoded-navbar-position]="pcodedSidebarPosition">
          <div class="sidebar_toggle"><a href="javascript:;"><i class="text-dark icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu border-right-line" appAccordion *ngIf="user">
            

            <div class="container" style="background-color: #ffffff !important;" >
              <div class="pt-3"></div>
              <h6 class="text-blue-bold" style="font-size: 20px; font-weight: bolder;">{{user.menu_owner}} 
                <div *ngIf="user.company">
                  <span class="text-green-bold">{{user.company.name}} ({{user.company.registration_no}})</span>
                </div>
              </h6>
              <b>{{user.person.name.toUpperCase()}}</b> &nbsp;
              <span class="badge badge-danger">{{user.acc_type_code}}</span>
              <br>
              <span class="small"><i class="fa fa-envelope-o"></i> {{user.person.email}} <br> <i
                  class="fa fa-phone"></i>&nbsp;+60{{user.person.mobile_no}} </span>

            </div>

            <perfect-scrollbar [style.max-width]="'100%'" [style.max-height]="'calc(100vh - 180px)'" [config]="config">
              <div class="row" style="padding-top: 10px; left: 0px;">
                <ng-container *ngFor="let menu of menuItems">
                  <div class="col-sm-12" style="border-bottom: 1px solid lightgray;margin-top: 10px;"></div>
                  <div class="col-sm-12" style="padding-top: 10px;"><span class="menu text-green-bold"><i
                        class="	fa fa-square"></i> {{menu.title}}</span></div>

                  <div class="col-sm-12" [routerLinkActive]="['active']" style="margin-left: 15px;" *ngFor="let item of menu.items">
                    <div class="submenu">
                       <a [routerLink]="[item.path, item.page]" target="_self" *ngIf="item.enabled==1">{{item.name}}</a>
                      <span class="text-muted" *ngIf="item.enabled==0">{{item.name}}</span>
                    </div>
                  </div>
                </ng-container>
                <div class="pt-3"></div>
              </div>
            </perfect-scrollbar>

          </div>
        </nav> -->
        <!-- <div class="pcoded-content"> -->
          <!-- <div class="pcoded-inner-content"> -->
            <!-- <div class="main-body"> -->
              <!-- <router-outlet>
                <app-spinner></app-spinner>
              </router-outlet> -->

              <div class="pt-3"></div>
              <div class="container  common-img-bg"  *ngIf="user">

                <div class="row">
                  <div class="col-sm-3">
                    <div class="pt-3"></div>
                    <h2 class="font-weight-bold">{{user.person.name.toUpperCase()}}</h2>  
                    <span class="small">{{user.person.email}} <br>  
                      +60{{user.person.mobile_no}} </span>
                    <div class="pt-5"></div>
                  </div>
                  <div class="col-sm-9">
                    <h3>Your current registered package plan:</h3>  
                    <div class="card" *ngFor="let reg of user.registration">
                      <div class="card-body" >
                        <div class="badge "
                        [ngClass]="{'badge-success':reg.status=='APPROVED','badge-secondary':reg.status=='PRE-ACCOUNT','badge-warning':reg.status=='PENDING-APPROVAL','badge-danger':reg.status=='BLOCKED'}">
                          {{reg.status}}</div>
                        <h2 class="text-blue">
                          {{reg.screening_plan.single_package}}
                          <button class="btn btn-sm btn-round btn-primary pull-right" (click)="open(reg)" *ngIf="reg.status!='BLOCKED'">
                            <i class="fa fa-folder-open-o"></i>Open</button>
                        </h2>
                        <div class="row">
                          <div class="col-sm-4">
                            <div><span class="small">REG. NO.</span><br><b>{{reg.reg_no}}</b></div><br>
                            <div><span class="small">CENTER</span><br><b>{{reg.center_code}}</b></div>
                          </div>
                          <div class="col-sm-4">
                            <div><span class="small">DATE REGISTERED</span><br><b>{{reg.date_registered | date:'dd MMM yyyy'}}</b></div><br>
                            <div><span class="small">DATE EXPIRED</span><br><b>{{reg.date_expired | date:'dd MMM yyyy'}}</b></div>
                          </div>
                          <div class="col-sm-4" style="border-left: 1px solid lightgray;">
                            <span class="small">PATIENT(S)</span> <br>
                            <div class="font-weight-bold" *ngFor="let pPatient of reg.screening_plan.package_patients">
                              {{pPatient.total_patient}} x {{pPatient.patient_type_code}}
                            </div> 
                          </div>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>