<div *ngIf="loading">
  <i class="spinner-border spinner-border-sm text-primary"></i> Loading registration info...
</div>

<div *ngIf="dataRegistration&&dataPatients">

  <div *ngIf="(auth.account.acc_type_code!='ADMIN')">
    <div class="alert alert-warning small" *ngIf="dataRegistration.status=='PRE-ACCOUNT'">
      <strong>Reminder:</strong>
      Your account is still in PRE-REGISTRATION ACCOUNT status. Please update list of {{staffPatient}} and upload all
      required supporting documents to complete your application.
    </div>
    <div class="alert alert-warning small" *ngIf="dataRegistration.status=='PENDING-APPROVAL'">
      <strong>Reminder:</strong>
      Your application is pending for approval.
    </div>
    <div class="alert alert-warning small" *ngIf="dataRegistration.status=='APPROVED'">
      Registration status :
      <strong>APPROVED</strong>
    </div>
  </div>

  <div class="alert alert-secondary " *ngIf="dataRegistration?.screening_plan.note">
    <div class="small" [innerHTML]="dataRegistration.screening_plan.note"> </div>
  </div>


  <div
    *ngIf="dataMAU?.length>0 && (dataRegistration.screening_plan.category_code == 'CORPORATE' || dataRegistration.screening_plan.category_code == 'DEPENDENT') ">
    <h2 class="text-green font-weight-bold">Main User Account</h2>
    <table class="table table-sm table-striped small" width="100%" *ngIf="dataMAU?.length>0; else tmpNoPatients">
      <thead>
        <th width="5%"></th>
        <th>Name / IC No</th>
        <th>Account</th>
        <th width="30%">Supporting<br>Documents</th>
      </thead>
      <tbody>
        <tr *ngFor="let reg of dataMAU">
          <td>
            <img [src]="photoPath + reg.person.photo_path" (error)="setDefaultPic($event)" width="30px">
          </td>
          <td>
            <button class="btn btn-sm text-primary pull-left" [tooltip]="'Edit details for '+ reg.person.name"
              (click)="editPatient(tmpInputPatientInfo,reg.person)"
              *ngIf="(reg.admin_type=='MAU'&&dataRegistration.status=='PRE-ACCOUNT') || (auth.account.acc_type_code=='ADMIN')"><i
                class="fa fa-pencil"></i></button>
            <b>{{reg.person.name}}</b>
            <div>{{reg.person.ic_no}}
            </div>
          </td>
          <td>
            <div *ngIf="reg.user_account" class="font-weight-bold">{{reg.user_account.username}}
              <button class="btn btn-sm text-primary" tooltip="Reset password" (click)="resetPassword(reg)"
                *ngIf="auth.account.acc_type_code=='ADMIN'"><i class="fa fa-key"></i></button>
            </div>
            <span *ngIf="reg.patient_type_code&&reg.admin_type!='MAU'">{{reg.patient_type_code}}</span>
            <span *ngIf="!reg.patient_type_code&&reg.admin_type!='MAU'" class="small"><i>Not updated</i><br></span>
            <span class="badge badge-danger" *ngIf="reg.admin_type=='MAU'">MAU</span>
            <span><br>{{reg.person_type_code}}</span>

          </td>
          <td width="20%">
            <i class="small" *ngIf="reg.person.documents.length==0">No files uploaded</i>
            <div *ngFor="let doc of reg.person.documents" class="small">
              <button class="btn btn-sm text-primary" [tooltip]="'View Print ' + doc.document_code.toUpperCase()"
                (click)="printDoc(doc.filename)"
                *ngIf="(user.user_account?.acc_type_code=='MAU')|| (auth.account.acc_type_code=='ADMIN')"><i
                  class="fa fa-print"></i></button>
              {{doc.ori_filename}}
            </div>
            <br>
            <button type="button" class="btn btn-sm btn-round btn-primary pull-right" placement="left"
              *ngIf="dataRegistration.status=='PRE-ACCOUNT' || (auth.account.acc_type_code=='ADMIN')"
              [tooltip]="'Upload document ' + reg.person.name" (click)="uploadDoc(tmpUploadDoc,reg)"><i
                class="fa fa-cloud-upload" style="font-size: 14px;"></i>
              Upload</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h2 class="text-green font-weight-bold">{{titleCaseWord(staffPatient)}} Registration
      <button class="btn btn-lg text-primary pull-right" [tooltip]="'Add more ' + staffPatient"
        (click)="newPatient(tmpInputPatientInfo)"
        *ngIf="totalPatient>dataPatients.length && (dataRegistration.status=='PRE-ACCOUNT' || auth.account.acc_type_code=='ADMIN')"><i
          class="fa fa-plus"></i></button>

    </h2>
    <div class="small"
      *ngIf="!(dataRegistration.screening_plan.category_code == 'CORPORATE' && user.user_account?.acc_type_code=='STAFF')">
      Note:
      Please include {{addRegPersonNote}}</div>
    <table class="table table-sm table-striped small" width="100%" *ngIf="dataPatients?.length>0; else tmpNoPatients">
      <thead>
        <th width="5%"></th>
        <th>Name / IC No</th>
        <th width="20%">Account</th>
        <th width="30%">Supporting<br>Documents</th>
      </thead>
      <tbody>
        <tr *ngFor="let reg of dataPatients; let i=index">
          <td>
            <img [src]="photoPath + reg.person.photo_path" (error)="setDefaultPic($event)" width="25px">
          </td>
          <td>
              <div class="d-inline-flex "  >
                <div class="p-0 " >
                  <button class="btn btn-sm text-primary  " [tooltip]="'Edit details for '+ reg.person.name"
                  (click)="editPatient(tmpInputPatientInfo,reg.person)"
                  *ngIf="(user.user_account?.acc_type_code=='MAU'&&dataRegistration.status=='PRE-ACCOUNT') || (auth.account.acc_type_code=='ADMIN')"><i
                    class="fa fa-pencil"></i></button><br>
                  <button class="btn btn-sm text-primary " [tooltip]="'Remove details for ' + reg.person.name"
                    (click)="removeRegPerson(reg)"
                    *ngIf="(user.user_account?.acc_type_code=='MAU'&&dataRegistration.status=='PRE-ACCOUNT') || (auth.account.acc_type_code=='ADMIN')"><i
                      class="fa fa-trash"></i></button>
                </div>
                <div class="p-0"  >{{i+1}}.&nbsp;</div>
                <div class="p-0"  >
                  <div>
                    <b>{{reg.person.name}}</b>  
                    <span *ngIf="reg.person.relationship">({{reg.person.relationship}})</span> 
                  </div>
                  {{reg.person.ic_no}}
                </div>
              </div>
          </td>
          <td>
            <div *ngIf="reg.user_account" class="font-weight-bold">{{reg.user_account.username}}
              <button class="btn btn-sm text-primary" tooltip="Reset password" (click)="resetPassword(reg)"
                *ngIf="auth.account.acc_type_code=='ADMIN'"><i class="fa fa-key"></i></button>
            </div>
            <span *ngIf="reg.user_account?.acc_type_code!='MAU'">{{reg.patient_type_code}}</span>
            <span *ngIf="!reg.patient_type_code&&reg.admin_type!='MAU'" class="small"><i>Not updated</i><br></span>
            <span class="badge badge-danger" *ngIf="reg.user_account?.acc_type_code=='MAU'">MAU</span>
            <span><br>{{reg.person_type_code}}</span>

          </td>
          <td>
            <i class="small" *ngIf="reg.person.documents.length==0">No files uploaded</i>
            <div *ngFor="let doc of reg.person.documents" class="small">
              <button class="btn btn-sm text-primary" [tooltip]="'View Print ' + doc.document_code.toUpperCase()"
                (click)="printDoc(doc.filename)"><i class="fa fa-print"></i></button>
              {{doc.ori_filename}}
            </div>
            <br>
            <button type="button" class="btn btn-sm btn-round btn-primary pull-right" placement="left"
              *ngIf="(user.user_account?.acc_type_code=='MAU'&&dataRegistration.status=='PRE-ACCOUNT')|| (auth.account.acc_type_code=='ADMIN')"
              [tooltip]="'Upload document for ' + reg.person.name" (click)="uploadDoc(tmpUploadDoc,reg)"><i
                class="fa fa-cloud-upload" style="font-size: 14px;"></i>
              Upload</button>

          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #tmpNoPatients>
      <div class="pt-3"></div>
      <div class="text-muted"><i class="fa fa-exclamation-circle"></i> <i>No {{staffPatient}} registered</i></div>
    </ng-template>

    <button class="btn btn-sm btn-primary btn-round"
      *ngIf="dataPatients?.length>0&&dataRegistration.status=='PRE-ACCOUNT'" (click)="completeMyRegistration()">Submit
      and
      complete my application</button>

    <!-- <button (click)="verifyPatientType()">verifyPatientType</button>  -->

    <div class="pt-2"></div>
    <!-- [disabled]="dataRegistration.screening_plan.package_patients.length!=dataPatients.length && !dataRegistration.company.co_reg_no" -->

  </div>

</div>

<ng-template #tmpInputPatientInfo let-modal>
  <div class="modal-content">
    <div class="modal-header bg-medium-green">
      {{mode}} {{staffPatient.toUpperCase()}} INFO
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body bg-light-green">
      <div [formGroup]="dataForm" *ngIf="dataForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="form-group col-sm-9">
                <label for="name">Name of {{staffPatient}}</label>
                <input type="text" class="form-control" placeholder="Enter name" id="name" formControlName="name">
                <div *ngIf="isSubmitted && dataForm.get('name').invalid" class="field-validation-error small">
                  <div class="text-danger">Name is required</div>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label for="age">Gender</label>
                <select formControlName="gender" class="form-control">
                  <option [value]="null">Please choose</option>
                  <option value="F">Female</option>
                  <option value="M">Male</option>
                </select>
                <div *ngIf="isSubmitted && dataForm.get('gender').invalid" class="field-validation-error small">
                  <div class="text-danger">Gender is required</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="ic_no">IC No</label>
                <div *ngIf="mode=='EDIT'" class="font-weight-bold">{{dataForm.get('ic_no').value}}</div>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter IC no without dash '-'" id="ic_no"
                  formControlName="ic_no" maxlength="12" *ngIf="mode=='NEW'">
                <div *ngIf="isSubmitted && dataForm.get('ic_no').invalid" class="field-validation-error small">
                  <div class="text-danger">IC No is required</div>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label for="age">Age</label>
                <input type="number" class="form-control mr-sm-2 " placeholder="Enter age" id="age"
                  formControlName="age">
                <div *ngIf="isSubmitted && dataForm.get('age').invalid" class="field-validation-error small">
                  <div class="text-danger">Age is required</div>
                </div>
              </div>
              <div class="form-group col-sm-3">
              </div>

              <div class="form-group col-sm-6">
                <label for="mobile_no">Mobile No</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend ">
                    <span class="input-group-text bg-white text-dark">+60</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Enter Mobile No" id="mobile_no" maxlength="15"
                    formControlName="mobile_no">
                </div>
                <div *ngIf="isSubmitted && dataForm.get('mobile_no').invalid" class="field-validation-error small">
                  <div class="text-danger">Mobile No is required</div>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <label for="email">Email</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter email" id="email"
                  formControlName="email">
                <div *ngIf="isSubmitted && dataForm.get('email').errors" class="field-validation-error small">
                  <div *ngIf="dataForm.get('email').required" class="text-danger">Email is required</div>
                  <div *ngIf="dataForm.get('email').errors.email" class="text-danger">Email must be a valid email
                    address</div>
                </div>
              </div>

              <div class="form-group col-sm-6"
                *ngIf="this.dataRegistration.screening_plan.category_code == 'FAMILY' || this.dataRegistration.screening_plan.category_code == 'DEPENDENT'">
                <label for="email">Relationship of MAU to the Dependent/Family Member</label>
                <select class="form-control" formControlName="relationship">
                  <option [value]="null">Please choose</option>
                  <option [value]="rel.code" *ngFor="let rel of relationships">{{rel.code}}</option>
                </select>
                <div *ngIf="isSubmitted && dataForm.get('relationship').invalid" class="field-validation-error small">
                  <div class="text-danger">Relationship is required</div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-sm-6" style="border-left: solid 1px lightgray;">
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="address">Address</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter Address" id="address"
                  formControlName="address">
                <div *ngIf="isSubmitted && dataForm.get('address').invalid" class="field-validation-error small">
                  <div class="text-danger">Address is required</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="town">Town</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter town" id="town"
                  formControlName="town">
                <div *ngIf="isSubmitted && dataForm.get('town').invalid" class="field-validation-error small">
                  <div class="text-danger">Town is required</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="district">District</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter District" id="district"
                  formControlName="district">
                <div *ngIf="isSubmitted && dataForm.get('district').invalid" class="field-validation-error small">
                  <div class="text-danger">District is required</div>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label for="postcode">Postcode</label>
                <input type="text" class="form-control mr-sm-2 " placeholder="Enter Postcode" id="postcode"
                  maxlength="6" formControlName="postcode">
                <div *ngIf="isSubmitted && dataForm.get('postcode').invalid" class="field-validation-error small">
                  <div class="text-danger">Postcode is required</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="state">State</label>
                <select class="form-control" formControlName="state">
                  <option [value]="null">Please choose</option>
                  <option [value]="state.state_name" *ngFor="let state of states">{{state.state_name}}</option>
                </select>
                <div *ngIf="isSubmitted && dataForm.get('state').invalid" class="field-validation-error small">
                  <div class="text-danger">State is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer bg-light-green">
      <button type="button" class="btn btn-sm btn-round btn-primary" (click)="savePatient()">
        Save</button>
      <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()"
        style="margin-left: 5px;"> Close</button>
    </div>
  </div>
</ng-template>


<ng-template #tmpUploadDoc let-modal>
  <div class="modal-content">
    <div class="modal-header bg-medium-green">
      UPLOAD SUPPORTING DOCUMENT(S)
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body bg-light-green">
      <div class="row">
        <div class="col-sm-3">

          <img [src]="photoPath + selectedRegPerson.person.photo_path" (error)="setDefaultPic($event)" width="80px">

          <p-fileUpload [files]="tmpPhotoFile" #pPhoto mode="basic" name="photo[]" [customUpload]="true"
            (uploadHandler)="uploadPhotoNow($event,pPhoto)" accept="image/*" maxFileSize="1000000" [auto]="true"
            chooseLabel="Browse"></p-fileUpload>
        </div>
        <div class="col-sm-5">
          <label class="small">Name</label>
          <div class="font-weight-bold">{{selectedRegPerson.person.name}}</div>
        </div>
        <div class="col-sm-4">
          <label class="small">IC No</label>
          <div class="font-weight-bold">{{selectedRegPerson.person.ic_no}}</div>
        </div>
      </div>
      <span class="small">Photo: {{selectedRegPerson.person.photo_path?selectedRegPerson.person.photo_path:'Not
        available'}}</span>
      <hr class="line-blue">
      <!-- <h4 class="font-weight-bold">Supporting document(s)</h4> -->
      <div class="small">
        Note: Please make sure the size of document file should not exceeds 3MB per file. Only JPG, JPEG, PNG, GIF & PDF
        files are allowed.
        <div class="pt-3"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <b>List of uploaded files:</b>
          <ul>
            <ng-container *ngFor="let file of selectedRegPerson.person.documents">
              <li *ngIf="file.document_code!='photo'">
                <button class="btn btn-sm text-primary" [tooltip]="'View Print ' + file.filename"
                  (click)="printDoc(file.filename)"><i class="fa fa-print"></i></button>
                <button class="btn btn-sm text-danger" (click)="removeFile(file)"
                  [tooltip]="'Remove ' + file.filename"><i class="fa fa-trash"></i></button>
                {{file.ori_filename}}
              </li>
            </ng-container>
            <li *ngIf="selectedRegPerson.person.documents.length==0">
              <i>No file uploaded</i>
            </li>
          </ul>
        </div>
        <div class="col-sm-12">
          <hr>
        </div>
        <div class="col-sm-12">
          <b>Upload new files:</b>
          <p-fileUpload #pfileUpload name="files[]" [customUpload]="true"
            (uploadHandler)="uploadDocNow($event,pfileUpload)" (onUpload)="onUpload($event)" multiple="multiple"
            [showCancelButton]="false" accept="image/*,.pdf" maxFileSize="3072000">
            <!-- <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
              </ul>
            </ng-template> -->
          </p-fileUpload>
        </div>

        <!-- <div class="col-sm-12" *ngFor="let doc of docUploadList; let i=index; let last=last">
          <div><b>{{i+1}}. {{doc.name}}</b> <br>
            <span class="small" [innerHTML]="doc.note" *ngIf="doc.note"></span>
          </div>
          <input type="file" class="form-control-file border" (change)="uploadDocNow($event.target.files,doc.code)">
          <div class="small text-danger" *ngIf="doc.uploaded?.length==0"><i>No file uploaded. </i></div>
          <div *ngIf="doc.uploaded?.length>0" class="small text-primary font-weight-bold">
            <span *ngFor="let udoc of doc.uploaded">
              <button class="btn btn-sm text-primary" tooltip="Remove this file" (click)="removeFile(udoc)"><i
                  class="fa fa-trash"></i>
              </button> Uploaded:
              {{udoc.ori_filename}}</span>
          </div>
          <hr *ngIf="!last">
        </div> -->
      </div>

      <div class="pull-right">
        <div class="pt-3"></div>
        <span *ngIf="uploading">
          <i class="spinner-border spinner-border-sm text-primary "></i> Uploading file...
        </span>
        <button type="button" class="btn btn-sm btn-round btn-secondary" (click)="modalRef.hide()"
          style="margin-left: 5px;"> Close</button>

      </div>


    </div>
  </div>
</ng-template>