.flex-container {
  display: flex;
  flex-direction: column;
}

.mat-horizontal-stepper-header { 
  pointer-events: none !important; 
}


.card-img-top {
  width: 100%;
  height: 15vw;
  padding-right: 20px;
  object-fit: cover;
}

