<div class="common-img-bg">
  <div class="registration-fluid">

    <div class="pt-5"></div>
    <div class="row">
      <div class="col-md-6">
        <img style="float: left; padding-top: 10px;" src="assets/images/logo-myhc.png" width="150" height="55">
      </div>

      <div class="col-md-6">
        <div class="language-bar pull-right">
          <img src="assets/images/globe.png">
          <select class="myhc-select" [(ngModel)]="language" (change)="changeLanguage($event.target.value)">
            <option value="en">English</option>
            <option value="bm">Bahasa Malaysia</option>
          </select>

          <span class="ml-5"><i class="fa fa-angle-left fa-lg"></i><span class="register ml-2" [routerLink]="['/login']">Login</span></span>
        </div>

      </div>
    </div>

    <hr />

    <div class="pt-3"></div>

    <div class="row">
      <div class="col-sm-12">
        <div class="myhc-registration-card card-body auth-body">
          <h3 class="text-center txt-primary">{{ 'registration.title' | translate | uppercase }}</h3>

          <div class="row">
            <div class="col-sm-12 ">

              <!-- <mat-vertical-stepper [linear]="false" #stepper (selectionChange)="selectionChange($event)" > -->
              <mat-horizontal-stepper [linear]="true" #stepper labelPosition="bottom">

                <!-- STEP 1: CHOOSE TYPE OF ACCOUNT   editable="false" [completed]="false" [optional]="false"-->
                <mat-step>
                  <h3 class="font-weight-bold text-blue">{{ 'registration.step.title_step1' | translate | uppercase }}</h3>

                  <div class="pt-2"></div>
                  <!-- <div class="row" *ngIf="packageCategories">
                    <div class="col-sm-6" *ngFor="let pCategory of packageCategories">
                      <div class="card" >
                        <div class="card-body">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" required name="optPackageCategory"
                                [(ngModel)]="selectedPackageCategory"
                                (change)="onPackageCategoryOptChange(pCategory.category_code)"
                                [value]="pCategory.category_code"> <span class="text-green font-weight-bold">{{pCategory.category_code}}</span>
                            </label>
                          </div>
                        </div>
                        <div class="card-footer text-dark" [innerHTML]="pCategory.description">
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="row" *ngIf="groupPlanPackages">
                    <div class="col-sm-4" *ngFor="let package of groupPlanPackages | keyvalue">

                      <div class="card" *ngFor="let plan of package.value">
                        <div class="card-body">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" required [(ngModel)]="selectedPlan"
                                [value]="plan.package_code" (ngModelChange)="getSelectedPlan($event)" > <span
                                class="text-green font-weight-bold">{{plan.single_package}}</span>
                            </label>
                          </div>
                        </div>
                        <div class="card-footer text-blue" [innerHTML]="plan.description">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-top: 30px;" class="text-right">
                    <button class="btn myhc-btn-fill pull-right " mat-button
                      (click)="verifyTypeRegistration()">{{ 'registration.button.title_next' | translate | uppercase }}</button>
                  </div>
                </mat-step>

                <!-- STEP 2 : ENTER THE MAIN ACCOUNT HOLDER DETAILS -->
                <!-- <mat-step  errorMessage="Your details is required." editable="false"
                  [optional]="false" [completed]="false"> -->
                <mat-step>
                  <h3 class="font-weight-bold text-blue">{{ 'registration.step.title_step2' | translate | uppercase }}</h3>
                  <div class="pt-2"></div>

                  <!-- <div class="row" *ngIf="selectedPackageCategory =='DEPENDENT' && !isVerifiedDependent">
                    <div class="col-sm-12 text-center">
                      You have chose Dependent Package Plan. Please enter IC No of your dependent for
                      verification.<br>
                      <input type="text" placeholder="Enter IC No without dash '-'" maxlength="12"
                        [(ngModel)]="dependentIcNo">&nbsp;
                      <button type="button" class="btn btn-sm btn-round btn-primary"
                        (click)="verifyDependentIcNo()">Verify IC No</button>
                    </div>
                    <div class="col-sm-12 text-center">
                      <div class="pt-3"></div>
                      <span class="font-weight-bold text-danger" *ngIf="errorDependent">
                        The dependent's IC No has already registered. Please contact our <a
                          href="https://myhealthcard.com.my/contact-us/" target="_blank">helpdesk</a>.
                      </span>
                    </div>
                  </div> -->
                  <form [formGroup]="formDetails" (ngSubmit)="verifyDetails()">
                    <!-- <div class="row">
                      <div class="col-sm-12" *ngIf="selectedPackageCategory =='DEPENDENT'">
                        Dependent IC No: <b>{{dependentIcNo}}</b><br><span class="text-success font-weight-bold"><i
                            class="fa fa-check-circle"></i> Successfully verified</span>
                      </div>
                    </div> -->

                    <div class="row">
                      <div class="col-md-12">
                        <div class="pt-3"></div>
                        <span class="myhc-card-title pull-left">{{ 'registration.title_enterDetail' | translate }}:</span>
                        <div class="pt-5"></div>
                        <!-- <span
                          *ngIf="!(selectedPackageCategory =='DEPENDENT' || selectedPackageCategory =='CORPORATE')">Please
                          enter your details:</span>
                        <span
                          *ngIf="selectedPackageCategory =='DEPENDENT' || selectedPackageCategory =='CORPORATE'">Please
                          enter the details of the MAIN ACCOUNT HOLDER:</span> -->
                      </div>
                    </div>
                    <div class="pt-3"></div>
                    <div class="text-left">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="name">{{ 'registration.field.title_name' | translate }} </label>
                              <input type="text" formControlName="name" class="form-control"  [ngClass]="{ 'is-invalid': submitted && fDetail.name.errors }"   oninput="this.value = this.value.toUpperCase()"/>
                              <div *ngIf="submitted && fDetail.name.errors" class="invalid-feedback">
                                  <div *ngIf="fDetail.name.errors.required">{{ 'registration.validator.required_name' | translate }}</div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="name" *ngIf="passportPanel">{{ 'registration.field.title_passport' | translate }}</label>
                              <label for="name" *ngIf="icCardPanel">{{ 'registration.field.title_ic' | translate }}</label>
                              <span class="foreigner-panel"><input type="checkbox" formControlName="citizen" (change)="isCitizen($event)" [(ngModel)]="citizen"> &nbsp; {{ 'registration.field.title_citizenship' | translate}}</span>
                              <input type="text" formControlName="ic_no" class="form-control" [mask]="citizen ? '000000-00-0000' : ''" [ngClass]="{ 'is-invalid': submitted && fDetail.ic_no.errors }" />
                              <div *ngIf="submitted && fDetail.ic_no.errors" class="invalid-feedback">
                                  <div *ngIf="fDetail.ic_no.errors.required">{{ 'registration.validator.required_ic' | translate }}</div>
                              </div>

                            </div>
                            <div class="form-group">
                              <label for="name">{{ 'registration.field.title_race' | translate }} </label>
                              <input type="text" formControlName="race" class="form-control"  />
                            </div>
                            <div class="form-group">
                              <label for="name">{{ 'registration.field.title_religion' | translate }} </label>
                              <input type="text" formControlName="religion" class="form-control"  />
                            </div>
                            <div class="form-group">
                              <label for="name">{{ 'registration.field.title_gender' | translate }} </label>
                              <select formControlName="gender" class="form-control">
                                <option value="M">{{ 'registration.field.title_male' | translate }}</option>
                                <option value="F">{{ 'registration.field.title_female' | translate }}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="name">{{ 'registration.field.title_marital' | translate }} </label>
                              <select formControlName="marital" class="form-control">
                                <option value="single">{{ 'registration.field.title_single' | translate }}</option>
                                <option value="married">{{ 'registration.field.title_married' | translate }}</option>
                                <option value="widow">{{ 'registration.field.title_widow' | translate }}</option>
                                <option value="widower">{{ 'registration.field.title_widower' | translate }}</option>
                              </select>
                            </div>
                            <div class="form-group" *ngIf="relationshipPanel">
                              <label for="name">{{ 'registration.field.title_relationship' | translate }} </label>
                              <select class="form-control" formControlName="relationship">
                                <option [value]="rel.code" *ngFor="let rel of relationships">{{rel.code}}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="name">{{ 'registration.field.title_dob' | translate }} </label><br />
                              <p-calendar formControlName="dob" dateFormat="yy-mm-dd" [ngClass]="{ 'is-invalid': submitted && fDetail.dob.errors }"></p-calendar>
                              <div *ngIf="submitted && fDetail.dob.errors" class="invalid-feedback">
                                  <div *ngIf="fDetail.dob.errors.required">{{ 'registration.validator.required_dob' | translate }} </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="name">{{ 'registration.field.title_email' | translate }} </label>
                              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fDetail.email.errors }" />
                              <div *ngIf="submitted && fDetail.email.errors" class="invalid-feedback">
                                  <div *ngIf="fDetail.email.errors.required">{{ 'registration.validator.required_email' | translate }}</div>
                                  <div *ngIf="fDetail.email.errors.email">{{ 'registration.validator.pattern_email' | translate }}</div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="name">{{ 'registration.field.title_mobile' | translate }} </label>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">+60</span>
                                </div>
                                <input type="text" formControlName="mobile_no" class="form-control"  [ngClass]="{ 'is-invalid': submitted && fDetail.mobile_no.errors }" />
                              </div>
                              <div *ngIf="submitted && fDetail.mobile_no.errors" class="invalid-feedback">
                                  <div *ngIf="fDetail.mobile_no.errors.required">{{ 'registration.validator.required_mobile' | translate }} </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="name">{{ 'registration.field.title_address' | translate }} </label>
                              <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && fDetail.address.errors }" />
                              <div *ngIf="submitted && fDetail.address.errors" class="invalid-feedback">
                                  <div *ngIf="fDetail.address.errors.required">{{ 'registration.validator.required_address' | translate }} </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="name">{{ 'registration.field.title_town' | translate }} </label>
                              <input type="text" formControlName="town" class="form-control" [ngClass]="{ 'is-invalid': submitted && fDetail.town.errors }" />
                              <div *ngIf="submitted && fDetail.town.errors" class="invalid-feedback">
                                  <div *ngIf="fDetail.town.errors.required">{{ 'registration.validator.required_town' | translate }} </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="name">{{ 'registration.field.title_postcode' | translate }} </label>
                              <input type="text" formControlName="postcode" class="form-control" (change)="getSelectedCity($event.target.value)" [ngClass]="{ 'is-invalid': submitted && fDetail.postcode.errors }" />
                              <div *ngIf="submitted && fDetail.postcode.errors" class="invalid-feedback">
                                  <div *ngIf="fDetail.postcode.errors.required">{{ 'registration.validator.required_postcode' | translate }} </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="name">{{ 'registration.field.title_district' | translate }} </label>
                              <input type="text" formControlName="district" class="form-control" [(ngModel)]="selectedCity" [value]="selectedCity"/>
                            </div>
                            <div class="form-group">
                              <label for="name">{{ 'registration.field.title_state' | translate }} </label>
                              <select formControlName="state" class="form-control">
                                <option [value]="state.state_name" *ngFor="let state of states">{{state.state_name}}</option>
                              </select>
                              <div *ngIf="submitted && fDetail.state.errors" class="invalid-feedback">
                                <div *ngIf="fDetail.state.errors.required">{{ 'registration.validator.required_state' | translate }} </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="flex-container">
                          <mat-form-field>
                            <input matInput placeholder="Full name as per National Registration IC (MYKAD)"
                              formControlName="name" required maxlength="100">
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="IC Card (MYKAD) Number without dash '-'"
                              formControlName="ic_no" required maxlength="12">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="flex-container">
                          <mat-form-field>
                            <input matInput placeholder="Email address" formControlName="email" required>
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Mobile number" formControlName="mobile_no" required>
                            <span matPrefix>+60&nbsp;</span>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    -->
                    <!-- <div>
                      <div class="pt-5"></div>
                      <input type="checkbox" formControlName="chk_tnc" value="Yes"> Check here to confirm that you
                      agree to our
                      <a href="https://myhealthcard.com.my/terms-conditions" target="_blank">TERMS & CONDITIONS</a>
                      and <a href="https://myhealthcard.com.my/privacy-policy" target="_blank">PRIVACY POLICY</a>.
                    </div> -->
                    <div style="margin-top: 30px;" class="text-right">
                      <button class="btn myhc-btn-fill mr-1 " (click)="startOver()">{{ 'registration.button.title_startover' | translate | uppercase }}</button>
                      <button class="btn myhc-btn-fill mr-1" (click)="previous()">{{ 'registration.button.title_back' | translate | uppercase }}</button>
                      <button class="btn myhc-btn-fill pull-right mr-1">{{ 'registration.button.title_next' | translate | uppercase }}</button>
                    </div>
                  </form>


                </mat-step>

                <!-- Step 3: NON-COMMUNICABLE DISEASE (NCD)  -->
                <!-- [stepControl]="formNCD" [completed]="false" [optional]="false"-->
                <!--
                <mat-step>
                  <h3 class="font-weight-bold text-blue">{{ 'registration.step.title_step3' | translate | uppercase }}</h3>
                  <h4 class="text-blue">{{ 'registration.step.desc_step3' | translate }}</h4>

                  <form [formGroup]="formNCD" *ngIf="formNCD">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"><span class="text-green">{{ 'registration.question.title_tobacco' | translate | uppercase }}</span></h5>
                            <div class="row">
                              <p class="card-text" style="width: 15rem; margin-top: 20px; margin-left: 15px;">
                                {{ 'registration.question.question_tobacco' | translate  }}
                              </p>
                              <div class="form-check" style="margin-left: 5px; margin-top: 20px;">
                                <input id="tabaccoYes" type="radio" value="YES" name="tabacco_use"
                                  formControlName="tabacco_use">
                                <label style="margin-left: 5px;" for="tabaccoYes">{{ 'registration.button.title_yes' | translate  }}</label>
                                <br>
                                <input id="tabaccoNo" type="radio" value="NO" name="tabacco_use"
                                  formControlName="tabacco_use">
                                <label style="margin-left: 5px;" for="tabaccoNo">{{ 'registration.button.title_no' | translate  }}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"><span class="text-green">{{ 'registration.question.title_alcohol' | translate | uppercase }}</span></h5>
                            <div class="row">
                              <p class="card-text" style="width: 15rem; margin-top: 20px; margin-left: 15px;">
                                {{ 'registration.question.question_alcohol' | translate  }}.
                              </p>
                              <div class="form-check" style="margin-left: 5px; margin-top: 20px;">
                                <input id="alcoholYes" type="radio" value="YES" name="alcohol_consumption"
                                  formControlName="alcohol_consumption">
                                <label style="margin-left: 5px;" for="alcoholYes">{{ 'registration.button.title_yes' | translate  }}</label>
                                <br>
                                <input id="alcoholNo" type="radio" value="NO" name="alcohol_consumption"
                                  formControlName="alcohol_consumption">
                                <label style="margin-left: 5px;" for="alcoholNo">{{ 'registration.button.title_no' | translate  }}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"><span class="text-green">{{ 'registration.question.title_diet' | translate | uppercase }}</span></h5>
                            <div class="row">
                              <div class="col-sm-6">
                                <p class="card-text" style="width: 10rem; margin-top: 20px; margin-left: 15px;">
                                  {{ 'registration.question.question_diet1' | translate }}?
                                </p>
                              </div>
                              <div class="col-sm-6">
                                <select value="1" class="form-control" #chkFruitDisable formControlName="diet_eat_fruit">
                                  <option *ngFor="let day of sevenDays" [value]="day.no">{{day.text}}</option>
                                </select>
                              </div>




                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <p class="card-text" style="width: 10rem; margin-top: 20px; margin-left: 15px;">
                                  {{ 'registration.question.question_diet2' | translate }}?
                                </p>
                              </div>
                              <div class="col-sm-6">
                                <select value="1" class="form-control" #chkVegeDisable formControlName="diet_eat_vege">
                                  <option *ngFor="let day of sevenDays" [value]="day.no">{{day.text}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"><span class="text-green">{{ 'registration.question.title_activity' | translate | uppercase }}</span></h5>
                            <div class="row">
                              <p class="card-text" style="width: 15rem; margin-top: 20px; margin-left: 15px;">
                                {{ 'registration.question.question_activity' | translate }}?
                              </p>
                              <div class="form-check" style="margin-left: 5px; margin-top: 20px;">
                                <input id="physicalYes" type="radio" value="YES" name="physical_activities"
                                  formControlName="physical_activities">
                                <label style="margin-left: 5px;" for="physicalYes">{{ 'registration.button.title_yes' | translate  }}</label>
                                <br>
                                <input id="physicalNo" type="radio" value="NO" name="physical_activities"
                                  formControlName="physical_activities">
                                <label style="margin-left: 5px;" for="physicalNo">{{ 'registration.button.title_no' | translate  }}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"><span class="text-green">{{ 'registration.question.title_history' | translate | uppercase }}</span></h5>
                            <div class="row">
                              <div class="col-sm-12">
                                <p class="card-text" style="margin-top: 20px; margin-left: 15px;">
                                  {{ 'registration.question.question_history1' | translate }} :
                                </p>
                              </div>
                              <div class="col-sm-8">
                                <p class="card-text" style=" margin-top: 20px; margin-left: 15px;">
                                  {{ 'registration.question.question_history2' | translate }}
                                </p>
                              </div>
                              <div class="col-sm-4 " style="margin-top: 20px;">
                                <div class="form-check-inline">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" value="YES"
                                      formControlName="history_hypertension"> {{ 'registration.button.title_yes' | translate  }}
                                  </label>
                                </div>
                                <div class="form-check-inline">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" value="NO"
                                      formControlName="history_hypertension"> {{ 'registration.button.title_no' | translate  }}
                                  </label>
                                </div>

                              </div>
                              <div class="col-sm-8">
                                <p class="card-text" style=" margin-top: 30px; margin-left: 15px;">
                                  {{ 'registration.question.question_history3' | translate }}
                                </p>
                              </div>
                              <div class="col-sm-4" style="margin-top: 30px;">
                                <div class="form-check-inline">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" value="YES"
                                      formControlName="history_diabetes"> {{ 'registration.button.title_yes' | translate  }}
                                  </label>
                                </div>
                                <div class="form-check-inline">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" value="NO"
                                      formControlName="history_diabetes"> {{ 'registration.button.title_no' | translate  }}
                                  </label>
                                </div>

                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div style="margin-top: 30px;" class="text-right">
                    <button class="btn myhc-btn-fill mr-1 " (click)="startOver()">{{ 'registration.button.title_startover' | translate | uppercase }}</button>
                    <button class="btn myhc-btn-fill mr-1" (click)="previous()">{{ 'registration.button.title_back' | translate | uppercase }}</button>
                    <button class="btn myhc-btn-fill pull-right mr-1" (click)="verifyFormNCD()" >{{ 'registration.button.title_next' | translate | uppercase }}</button>
                  </div>
                </mat-step>
                -->
                 <!-- STEP 4: TERMS AND CONDITIONS  -->
                <mat-step editable="false" [optional]="false" [completed]="false">
                  <h3 class="font-weight-bold text-blue">{{ 'registration.step.title_step4' | translate | uppercase }}</h3>
                  <!--<span class="text-primary" *ngIf="!formTermService.invalid"><br> Done</span>-->
                  <div class="pt-2"></div>
                  <input type="checkbox" value="Yes" [(ngModel)]="checkTermCondition">

                  {{ 'registration.step.title_agree1' | translate }}
                  <a [href]="'https://myhealthcard.com.my/terms-and-conditions-myhealthcard-product-services/'" target="_blank">{{ 'registration.step.title_tnc' | translate }}</a>
                  {{ 'registration.step.title_and' | translate }} <a [href]="'https://myhealthcard.com.my/terms-and-conditions-myhealthcard-application/'" target="_blank">{{ 'registration.step.title_privacy' | translate }}</a>.

                  <p style="margin-top: 10px;">{{ 'registration.step.title_agree2' | translate }}.</p>
                    <p></p>
                  <input type="checkbox" value="Yes" [(ngModel)]="checkSendUpdates">
                  {{ 'registration.step.title_agree3' | translate }}
                  <p></p>
                  <input type="checkbox" value="Yes" [(ngModel)]="check3rdPartyUpdate">
                  {{ 'registration.step.title_agree4' | translate }}



                    <div class="pt-3"></div>
                    <div class="text-right" *ngIf="isSendingSMS">
                      <i class="spinner-border spinner-border-sm text-primary"></i>  {{ 'registration.step.title_sms' | translate }}...
                    </div>

                  <div style="margin-top: 30px;" class="text-right">
                    <button class="btn myhc-btn-fill mr-1 " (click)="startOver()">{{ 'registration.button.title_startover' | translate | uppercase }}</button>
                    <button class="btn myhc-btn-fill mr-1" (click)="previous()">{{ 'registration.button.title_back' | translate | uppercase }}</button>
                    <button class="btn myhc-btn-fill pull-right mr-1" (click)="sentSmsSixDigitCode()" [disabled]="isSendingSMS">{{ 'registration.button.title_next' | translate | uppercase }}</button>
                  </div>
                </mat-step>

                <!-- STEP 5 : CONFIRMATION  -->
                <mat-step [completed]="codeConfirmation" [completed]="false">
                  <h3 class="font-weight-bold text-blue">{{ 'registration.step.title_step5' | translate | uppercase }}</h3>
                  <div class="pt-2"></div>
                  {{ 'registration.step.desc_step5' | translate }}
                  (+60{{formDetails.get("mobile_no").value}}).
                  {{ 'registration.step.proceed_step5' | translate }}.
                  <div class="pt-3"></div>
                  <div class="row">
                    <div class="col-sm-12" style="text-align:center">
                      <div style="width:120px;display: inline-block; ">
                        <input type="password" size="6" maxlength="15" placeholder="Enter 6-digit-code"
                          class="form-control form-control-lg" [(ngModel)]="sixDigitCode"
                          [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div class="pt-3"></div>
                  <div class="text-right" *ngIf="isRegistering">
                    <i class="spinner-border spinner-border-sm text-primary"></i> {{ 'registration.step.title_registration' | translate }}...
                  </div>
                  <div class="text-right">
                    <div class="pt-2"></div>
                    <button class="btn btn-primary btn-round mr-1 " mat-button (click)="startOver()"
                      [disabled]="isRegistering" >START OVER</button>
                    <button class="btn btn-primary btn-round mr-1" mat-button (click)="previous()"
                      [disabled]="isRegistering">BACK</button>
                    <button class="btn btn-primary btn-round mr-1" mat-button (click)="verifyCode()"
                      [disabled]="isRegistering" [disabled]="!sixDigitCode">NEXT</button>
                    <!-- <button class="btn btn-round btn-sm btn-primary" mat-button (click)="verifyCode()"
                      [disabled]="!sixDigitCode">Confirm</button> -->
                  </div>
                </mat-step>

                <!-- <mat-step editable="false" [completed]="false" [optional]="false">
                  <h3 class="font-weight-bold text-blue">Step 5: Payment</h3>
                  <div class="pt-2"></div>
                  <div class="card" *ngIf="selectedPlan">
                    <div class="card-body">
                      <div class="card-header">
                        <h5>{{selectedPlan.single_package}}</h5>
                      </div>
                      <div class="card-body text-left">
                        <i class="fa fa-caret-right"></i>
                        Package covers :

                        <br>
                        <pre>{{selectedPlan.test_included}}</pre>
                        <h5>Price to be paid: <span class="badge badge-pill badge-warning"
                            style="font-size: 14px;">RM{{selectedPlan.price}}</span></h5>
                      </div>
                    </div>
                  </div>

                  <div class="text-right">
                    <button class="btn btn-round btn-primary" mat-button (click)="makePayment()">Make a
                      payment</button>
                  </div>
                </mat-step> -->

                <!-- STEP 6 : COMPLETION OF REGISTRATION  -->
                <mat-step [completed]="false" editable="false">
                  <h3 class="font-weight-bold text-blue">{{ 'registration.step.title_step6' | translate | uppercase }}</h3>
                  <div class="pt-2"></div>
                  {{ 'registration.step.desc_step6' | translate }}.
                  <div class="pt-3"></div>
                  <a [routerLink]="['/login']" class="btn btn-primary btn-round pull-right m-b-20">{{ 'registration.step.title_home' | translate }}</a>
                </mat-step>
                <!-- </mat-vertical-stepper> -->
              </mat-horizontal-stepper>
            </div>
          </div>

        </div>

        <div [innerHTML]="footer"></div>
        <div class="pt-3"></div>

      </div>
    </div>
  </div>
</div>
