<div class="row">
  <h1 class="font-weight-bold">
    {{ "my-biodata.title" | translate | uppercase }}
  </h1>
</div>

<div class="row">
  {{ "my-biodata.desc" | translate }}
</div>

<div class="pt-5"></div>
<div class="pt-5"></div>

<div class="row" style="display: block; width: 40%; margin-left: auto; margin-right: auto;">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let patient of dataPatients; let i = index" class="slide">

      <span *ngIf="qrActive == i">
        <img class="slick-slider-img" src="https://via.placeholder.com/80x90" alt="" width="100%" (click)="showProfile(i)">
      </span>
      <span *ngIf="qrActive != i">
        <img class="slick-slider-img" src="https://via.placeholder.com/90x100" alt="" width="100%" (click)="showProfile(i)">
      </span>

      <span>{{patient.person.name}}</span>
    </div>
  </ngx-slick-carousel>
</div>

<div class="card-body text-center">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="myhc-card">
          <span class="myhc-card-title">{{ "my-biodata.title_ncd" | translate }}</span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="myhc-card">
          <span class="myhc-card-title">{{ "my-biodata.title_dass" | translate }}</span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="myhc-card">
          <span class="myhc-card-title">{{ "my-biodata.title_medical" | translate }}</span>
        </div>
      </div>

    </div>
  </div>
</div>

