<div class="row">
  <h1 class="font-weight-bold">
    {{ "user-registration.title" | translate | uppercase }}
  </h1>
</div>

<div class="pt-5"></div>
<div class="pt-5"></div>
<div class="pt-5"></div>

<div class="myhc-card">
  <div class="col-md-12">
    <div [formGroup]="formDetails">
      <div class="row">

        <div class="col-md-6">
          {{ "user-registration.title_legend" | translate }}: <span class="badge badge-success">{{ "user-registration.title_commercial" | translate | uppercase }}</span> &nbsp;&nbsp; <span class="badge badge-danger">{{ "user-registration.title_nonCommercial" | translate | uppercase }}</span>
          <div class="pt-2"></div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of screeningPlans ">
              <b>{{item.category}}</b>
              <div class="form-check" *ngFor="let plan of item.plans"
                [ngClass]="{'bg-primary':plan.package_code==formDetails.get('package_code').value}">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" [value]="plan.package_code" name="optPackageCode"
                    (change)="optChange($event)">
                  <span class="badge" [ngClass]="{'badge-success':plan.commercial=='YES', 'badge-danger':plan.commercial=='NO'}">{{plan.package_code}}</span>
                  <span [ngClass]="{'font-weight-bold':plan.package_code==formDetails.get('package_code').value}">
                    {{plan.single_package}} (MYR{{plan.price}})</span>
                </label>
              </div>
            </li>
          </ul>
          <div *ngIf="isSubmitted && formDetails.get('package_code').invalid" class="field-validation-error small">
            <div class="text-danger">{{ "user-registration.error.title_plan" | translate }}</div>
          </div>
        </div>

        <div class="col-md-6 " style="border-left: solid 1px lightgray;">
          <div class="row">
            <div class="col-sm-12">
              <div class="myhc-card-title">{{ "user-registration.title_mauDetail" | translate | uppercase }}</div>
              <div class="pt-3"></div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <label for="usr">{{ "user-registration.form.title_name" | translate }}:</label>
                <input type="text" class="form-control" formControlName="name" maxlength="100">
                <div *ngIf="isSubmitted && formDetails.get('name').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ "user-registration.error.title_name" | translate }}</div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 ">
              <div class="form-group">
                <label for="usr">{{ "user-registration.form.title_nric" | translate }}:</label>
                <input type="text" [mask]="'000000-00-0000'" class="form-control" formControlName="ic_no">
                <div *ngIf="isSubmitted && formDetails.get('ic_no').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ "user-registration.error.title_nric" | translate }}</div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 ">
              <div class="form-group">
                <label for="usr">{{ "user-registration.form.title_email" | translate }}:</label>
                <input type="text" class="form-control" formControlName="email">
                <div *ngIf="isSubmitted && formDetails.get('email').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ "user-registration.error.title_email" | translate }}</div>
                </div>
              </div>
            </div>

            <div class="col-sm-8 ">
              <div class="form-group">
                <label for="usr">{{ "user-registration.form.title_mobile" | translate }}:</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend ">
                    <span class="input-group-text bg-white text-dark">+60</span>
                  </div>
                  <input type="text" class="form-control" formControlName="mobile_no">
                </div>
                <div *ngIf="isSubmitted && formDetails.get('mobile_no').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ "user-registration.error.title_mobile" | translate }}</div>
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <b class="text-green">{{ "user-registration.form.title_payment" | translate }}</b>
              <div class="pt-3"></div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="usr">{{ "user-registration.form.title_total" | translate }}:</label>
                <input type="number" class="form-control" formControlName="amount_paid">
                <div *ngIf="isSubmitted && formDetails.get('amount_paid').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ "user-registration.error.title_total" | translate }}</div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="usr">{{ "user-registration.form.title_ref" | translate }}:</label>
                <input type="text" class="form-control" formControlName="payment_no">
                <div *ngIf="isSubmitted && formDetails.get('payment_no').invalid" class="field-validation-error small">
                  <div class="text-danger">{{ "user-registration.error.title_ref" | translate }}</div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="usr">{{ "user-registration.form.title_method" | translate }}:</label>
                <!-- <input type="text" class="form-control" id="usr"> -->
                <select class="form-control" formControlName="payment_method">
                  <option value="CASH" *ngFor="let pm of paymentMethods" [value]="pm.code">{{pm.code}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="usr">{{ "user-registration.form.title_date" | translate }}:</label>
                <!-- <input type="text" class="form-control" formControlName="payment_date"> -->
                <p-calendar formControlName="payment_date" dateFormat="yy-mm-dd"></p-calendar>
                <div *ngIf="isSubmitted && formDetails.get('payment_date').invalid"
                  class="field-validation-error small">
                  <div class="text-danger">{{ "user-registration.error.title_date" | translate }}</div>
                </div>
              </div>
            </div>

          </div>

          <button class="btn myhc-btn-fill pull-right" (click)="registerNewUser()">{{ "user-registration.button.title_register" | translate }}</button>

        </div>
      </div>
    </div>
  </div>
</div>
