<div class="row">
  <div class="col-sm-12">
    <h1 class="font-weight-bold pull-right">
      <span class="text-blue">MY</span>&nbsp;<span class="text-green">QR CODE</span>
    </h1>
  </div>
  <div class="col-sm-12">
    Thank you for choosing MyHealthCard! <br>
This QR code contains your screening appointment details. 
Please scan the QR code at the clinic which you have make appointment with for registration upon your arrival.
  </div>

  <div class="col-sm-12"><hr> </div>
  
  <div class="col-sm-4"> </div>
  <div class="col-sm-6"> 
    <mat-tab-group (selectedTabChange)="tabClick($event)">
      <mat-tab *ngFor="let patient of dataPatients" [label]="patient.person.name">
        <div class="card" >
          <div class="card-body text-center">
            <h2 class="text-green font-weight-bold">MYHEALTHCARD<sup>TM</sup></h2>
            <div class="font-weight-bold">{{patient.person.name}}</div>
            <qrcode-svg   [value]="qrValue" [errorCorrectionLevel]="errorCorrectionLevel"></qrcode-svg>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-sm-4"> </div>
  
</div>


 